
@{
    ViewBag.Title = "InternationalSpaceStation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="information-paragraphs dark-bkr" style="text-align: center">
    <h2>International Space Station Feature Coming Soon!</h2>
    <h4>One of mankinds greatest engineering feats including the involvement of 18 seperate countries!</h4>
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/ISS_emblem.png" width="480" height="480" />
</div>

