
@{
    ViewBag.Title = "Q1Score";
}

<div class="container dark-bkr">
    <br />
    <br />
    <div class="row">
        <h2 class="white-txt">Quiz Results</h2>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="row">
                <button class="btn-primary" onclick="location.href = 'QuizSelection';">Try a different quiz.</button>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="col-lg-10 white-txt">
                <ol>
                    @foreach (var result in ViewBag.Results)
                    {
                        <li class="answer-label">@result</li>
                    }
                </ol>
                <div style="font-size:20px; text-align:center; width:120px" id="total"></div>
            </div>
        </div>
    </div>
</div>



