
@{
    ViewBag.Title = "Andromeda_Information";
}

    <body style="color:white">
        <h2>Andromeda Galaxy Information</h2>

        <div>
            <h3>What is The Andromeda Galaxy?</h3>
            The Andromeda Galaxy is the closest spiral galaxy to our Milky Way Galaxy. [<a href="#ref1">1</a>]<br>
            It also goes by the names M31 or Messier 31. [<a href="#ref1">1</a>]
        </div>

        <div>
            <h3>How was The Andromeda Galaxy discovered?</h3>
            The other names come from Charles Messier who wrote about the galaxy that he thought was a nebula. [<a href="#ref2">2</a>]<br>
            Edwin Hubble in the 1920s discovered that Andromeda was much larger than originally thought and helped reclassify Andromeda as a galaxy. [<a href="#ref3">3</a>]<br>
            This started the idea that the universe is filled with more galaxies than just the Milky Way. [<a href="#ref3">3</a>]
        </div>

        <div>
            <h3>How far away is The Andromeda Galaxy?</h3>
            Andromeda is 2.5 million lightyears away. [<a href="#ref4">4</a>]<br>
            The Andromeda Galaxy has an apparent magnitude(brightness) of 3.6 so it is bright enough to be visible from Earth. [<a href="#ref5">5</a>]
        </div>

        <div>
            <h3>How does The Andromeda Galaxy compare to our Milky Way Galaxy?</h3>
            The Andromeda Galaxy is around 222,000 light years across more than double your Milky Way Galaxy at 100,000 light years across. [<a href="#ref6">6</a>]<br>
            Andromeda also has a higher amount of stars at around 1 trillion stars compared to the around 200-400 billion in the Milky Way. [<a href="#ref7">7</a>]
        </div>

        <div>
            <h3>What will happen to our galaxies in the future?</h3>
            The Andromeda Galaxy will one day collide with the Milky Way Galaxy. It is estimated that it will happen in around 4 billion years and they will completely merge in around 6 billion years. [<a href="#ref8">8</a>]<br>
            This is something that is common with many galaxies and both the Milky Way and Andromeda show signs of having collided with other galaxies before.[<a href="#ref8">8</a>]
        </div>

        <div>
            <h3>Other facts about The Andromeda Galaxy</h3>
            In 2017 it was discovered that the Andromeda Galaxy contained two different black holes. [<a href="#ref9">9</a>]<br>
            These were special as they orbit each other at a distance that may only be a couple 100 times the distance between the Earth and Sun. [<a href="#ref9">9</a>]<br>
            Because they are relatively close the two black holes will eventually merge in anywhere from 350 to 360,000 years. [<a href="#ref9">9</a>]
        </div>

        <div>
            <h3>References</h3>
            <ol>
                <li><a id="ref1" href="https://www.space.com/15590-andromeda-galaxy-m31.html">https://www.space.com/15590-andromeda-galaxy-m31.html</a></li>
                <li><a id="ref2" href="https://www.space.com/16686-charles-messier-biography.html">https://www.space.com/16686-charles-messier-biography.html</a></li>
                <li><a id="ref3" href="https://apod.nasa.gov/apod/ap960406.html">https://apod.nasa.gov/apod/ap960406.html</a></li>
                <li><a id="ref4" href="https://www.space.com/15590-andromeda-galaxy-m31.html">https://www.space.com/15590-andromeda-galaxy-m31.html</a></li>
                <li><a id="ref5" href=" https://astronomy.swin.edu.au/cms/astro/cosmos/A/Andromeda+galaxy"> https://astronomy.swin.edu.au/cms/astro/cosmos/A/Andromeda+galaxy</a></li>
                <li><a id="ref6" href="https://www.universetoday.com/22821/the-milky-way-and-andromeda/">https://www.universetoday.com/22821/the-milky-way-and-andromeda/</a></li>
                <li><a id="ref7" href="http://annesastronomynews.com/photo-gallery-ii/galaxies-clusters/the-andromeda-galaxy-m31/">http://annesastronomynews.com/photo-gallery-ii/galaxies-clusters/the-andromeda-galaxy-m31/</a></li>
                <li><a id="ref8" href="https://www.space.com/15590-andromeda-galaxy-m31.html">https://www.space.com/15590-andromeda-galaxy-m31.html</a></li>
                <li><a id="ref9" href="https://www.nasa.gov/mission_pages/chandra/news/giant-black-hole-pair-photobombs-andromeda-galaxy.html">https://www.nasa.gov/mission_pages/chandra/news/giant-black-hole-pair-photobombs-andromeda-galaxy.html</a></li>
            </ol>
        </div>

    </body>

