@{
    ViewBag.Title = "MilkyWay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="color: white;">
    <br />
    <h2>Milky Way Information</h2>
    <p>
        <h2> Why is it called The Milky Way?</h2>
        Contrary to popular belief, our galaxy is not in fact named after the candy bar of the same name. It was the Romans who originally gave our galaxy its namesake, in latin,
        they referred to it as "via lactea" which translates to English "road of milk". Even this name was derived from another name however, the Greeks referred to the galaxy as
        "galaxias kyklos" which translates to "milky circle". The Cherokee have their own myth story based around the galaxy that attribute its name as "Where the dog ran". In many
        asian countries including Japan, Korea, Vietnam refer to the Milky Way as "The Silver River" which can be translated to "galaxies" in their language. 
        [<a href="#ref1">1</a>]
        [<a href="#ref2">2</a>]
        [<a href="#ref3">3</a>]
    </p>

    <h2>How big is the Milky Way?</h2>
    <p>
        The Milky Way galaxy covers a great expanse, with an approximate radius of 52,850. This gives the Milky Way galaxy an overall diameter of just over 100,000 light years, or to
        put it into a more recognizable unit 587,860,000,000,000,000 miles from tip to tip... that would be one heck of a road trip! Within that space, the Milky Way galaxy is believed
        to be host 100 billion planets and anywhere between 100 billion and 400 billion stars, of which only about 2,000 of which are viewable in our night's sky on a perfect night.
        And this is only our galaxy, which is just one of over 100 billion galaxies that we believe to exist in the universe which is part of what makes space feel nearly infinite
        to us.
        [<a href="#ref4">4</a>]
        [<a href="#ref5">5</a>]
    </p>

    <h2>How old is the Milky Way?</h2>
    <p>
        The Milky Way galaxy is believed to be one of the older galaxies, at approximately 13.6 billion years old (give or take, 800 million years). In comparison, the youngest
        known galaxy is only about 500 million years old by calculations. Some stars of the Milky Way galaxy are as old as the galaxy itself, and when you consider the fact that the
        Big Bang is considered to have occured approximately 13.7 to 13.8 billion years ago, that means some of the stars of the galaxy are almost as old as the universe itself!
        [<a href="#ref6">6</a>]
    </p>

    <h2>How was the Milky Way formed?</h2>
    <p>
        It's believed that the Milky Way galaxy came to be as we know it when star clusters and smaller galaxies known as protogalaxies came together to form the galaxies core. After this formation, the gas clouds would have
        had to spin faster and faster before flattening out and giving us the disk shape we ended up with. We on earth are about 26,000 miles away from the core of the Milky Way which
        is believed to have a supermassive black hole in it that exists in a region known of the galaxy known as Sagittarius A and is believed to have 4.1 million times the mass of
        Sun and is believed to have a diamater of 14.6 million miles.
        [<a href="#ref7">7</a>]
    </p>


    <h2> How was the Milky Way discovered?</h2>
    <p>
        Although ancient Greek philosophers posited that the Milky Way may be a vast expanse of stars  it wasn't until 1610 when astronomer Galileo Galilei who pointed his first
        rudimentary telescope at the Milky Way and was able to see and formally hypothesize that the galaxy was a seemingingly infinite expanse of stars.

        In 1755, Prussian philosopher Immanuel Kant posited that the Milky way was a large collection of stars that were held together by their own mutual gravity. He believed
        that like the Solar System, the galaxy was likely a rotating and flattened disk. Uranus discoverer William Herschel attempted to actually map the shop of the Milky Way but
        he did not have the technology at the time to realize that large portions of the galaxy are obscured by gas and dust, which hide it's true form.

        It wasn't until the 1920s when Edwin Hubble provided us with conclusive evidence that the spiral nebulae in the sky were actually entirely other galaxies. Through this
        discovery, astronomers began to piece together the true nature and the overall shape of the Milky Way galaxy, alongside discovering the true size and scale as the universe
        as a whole.
        [<a href="#ref8">8</a>]
    </p>

    <h2>What are potential life sustaining planets within the Milky Way?</h2>
    <p>

        <h4>What is a habitable zone?</h4>
        A habitable zone is an orbital region around a star in which an Earth-like planet is capable of posessing liquid water on its surface.
        We know that liquid water is essential to all life forms on earth, so we use the assumption that extraterrestial life also operates under the same conditions.
        This assumption is what formulates the areas which we consider habitable by life. The range of the habitable zone around any given star is dependant on how hot a star burns.
        [<a href="#ref9">9</a>]

        <h4>How many planets are in these zones?</h4>
        In November 2013, astronomers reported that based on Kepler space mission data, that there could be as 40 billion Earth-sized planets residing in the habitable
        zone of their respective stars. Of these 40 billion planets, its believed that upwards of 11 billion of them are orbiting Sun-like stars. This statistic only includes
        planets within our own Milky Way galaxy, and to extend that to the galaxies beyond our own, that number becomes near infinite.
        [<a href="#ref10">10</a>]
    </p>

    <h2>Notable habitable planets:</h2>
    <p>
         <ul style="list-style-type: none">
             <h4>Kepler-22b</h4>
             In December 2011, Nasa's Kepler mission confirmed the first ever known planet within a habitable zone of a Sun-like star, observation of Kepler-22b begain in May
             2009 but it wasn't confirmable as a planet at the time. The planet is approximately 2.4 times larger than our own Earth and resides almost 600 light years away
             from Earth. It has a shorter orbit of around 290 days around its own G-type star (the same star type as our own Sun). Although surface conditions are unknown, this
             discovery representated a major milestone in the search to find planets that may sustain life.
             [<a href="#ref11">11</a>]
           

             <h4>Kepler-62f</h4>
             In April 2013, the discovery of an even more Earth-like planet was made, Kepler-62f. Although it resides significantly farther away, at 1,200 light years away, this planet
             represented a much more Earth sized planet, coming it at only about 40% larger than Earth. Kepler-62f has an orbit cycle of 267 days. Modeling studies pointed towards the
             probablity that Kepler-62f is complete engulfed in water and led to questions and theories about what kind of life would evolve in a system where dry land was not an option.
             This was a big discovery because it represented the first time a planet at least closer to Earths size had been confirmed.
             [<a href="#ref12">12</a>]

             <h4>Kepler-186f</h4>
             Another great discovery came in July, 2015 when the discovery of the first confirmed Earth-sized planet within a habitable zone of a Sun-like star was made. Kepler-186f
             is believed to be no more than 10% larger than earth. Kepler-186f completes its orbit cycle every 130 days but compared to earth only receives 1/3rd as much energy from
             its sun, leaving it right on the edge of the habitable zone for its system. The Kepler-186 star system is approximately 500 light years from earth in the star constellation
             Cygnus. Much like Kepler-22b, the discovery of Kepler-186f presented an interesting milestone in exoplanet discover, for the first time, we had found a planet that very
             closely emulates the size and mass of our own earth, the greatest Earth-twin candidate to date.
             [<a href="#ref13">13</a>]

             <h4>Proxima Centauri B (Aka. Alpha Centauri)</h4>
             The closest known potentially life supporting planet was discovered in August 2016 and is only 4.2 light years away and goes by the name of Proxima Centauri B, within the
             centaurus constellation. Proxima Centauri B orbits a red dwarf star that happens to also be the closest star to our sun. It's precise size is unknown but its believed to
             be approximately 10% larger than earth with a 30% increased mass in comparison. A primary interest in Proxima Centauri B is that being the closest potentially habitable
             planet, it offers us the greatest potential to study with more precise tools such as robots and probes in the future.
             [<a href="#ref14">14</a>]

             <h4>TOI 700 D</h4>
             One of our most recent discoveries was made in January, 2020, a planet known as TOI 700 d. With a known rocky terrain, TOI 700 d is only 101 light years away from Earth and
             resides in the Dorado constellation. TOI 700 d is only 20% larger than Earth but has a much larger mass, more than 70% higher than Earth. The star that TOI 700 d orbits is
             also significantly smaller than our own sun at about 40% of the mass and size, while being 50% of our Sun's temperature. TOI 700 d was the first Earth-sized exoplanet
             discovered by NASA's Transiting Exoplanet Survey Satellite.
             [<a href="#ref15">15</a>]
         </ul>
    </p>

    <h2>Fun facts about the Milky Way</h2>
    <ul>
        <li>In about 4 billion years, the Milky Way galaxy will collide with one of our closest neighbouring galaxies, the Andromeda galaxy.</li>
        <li>Dust and clouds make up approximately 10-15% of the matter within the Milky Way galaxy.</li>
        <li>We can't actually take a top down picture of the Milky Way galaxy with our current technology.</li>
        <li>The Milky Way is only one of about 40 galaxies that make up a section of space referred to as the "Local Group".</li>
        <li>Although an Earth year is only 365 days, a galactic year in our part of the galaxy is somewhere between 225 and 250 million Earth years!</li>
        <li>It's believed that about 7 new stars are born each year in the Milky Way galaxy.</li>
        <li>It's been calculated that the Milky Way travels about 343 miles per second through space.</li>
        <li>In the 4.6 billion years our solar system has existed, it's orbited the Milky Way less than 20 times.</li>
        [<a href="#ref16">16</a>]
    </ul>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h2>References:</h2>
    <p>
        <ol>
            <li><a id="ref1" href="https://www.mentalfloss.com/article/53589/why-do-we-call-our-galaxy-milky-way"> https://www.mentalfloss.com/article/53589/why-do-we-call-our-galaxy-milky-way </a></li>
            <li><a id="ref2" href="https://gizmodo.com/how-the-milky-way-got-its-name-and-what-other-language-1201204037"> https://gizmodo.com/how-the-milky-way-got-its-name-and-what-other-language-1201204037 </a></li>
            <li><a id="ref3" href="https://www.firstpeople.us/FP-Html-Legends/HowTheMilkyWayCameToBe-Cherokee.html"> https://www.firstpeople.us/FP-Html-Legends/HowTheMilkyWayCameToBe-Cherokee.html </a></li>
            <li><a id="ref4" href="https://en.wikipedia.org/wiki/Milky_Way"> https://en.wikipedia.org/wiki/Milky_Way </a></li>
            <li><a id="ref5" href="http://coolcosmos.ipac.caltech.edu/ask/206-How-many-stars-can-you-see-at-night "> http://coolcosmos.ipac.caltech.edu/ask/206-How-many-stars-can-you-see-at-night </a></li>
            <li><a id="ref6" href="https://spaceplace.nasa.gov/galaxies-age/en/ "> https://spaceplace.nasa.gov/galaxies-age/en/ </a></li>
            <li><a id="ref7" href="https://astronomy.com/magazine/greatest-mysteries/2019/07/38-how-did-the-milky-way-galaxy-form "> https://astronomy.com/magazine/greatest-mysteries/2019/07/38-how-did-the-milky-way-galaxy-form </a></li>
            <li><a id="ref8" href="https://www.universetoday.com/65629/who-discovered-the-milky-way/ "> https://www.universetoday.com/65629/who-discovered-the-milky-way/ </a></li>
            <li><a id="ref9" href="https://www.britannica.com/science/habitable-zone "> https://www.britannica.com/science/habitable-zone </a></li>
            <li><a id="ref10" href="https://www.latimes.com/science/la-sci-earth-like-planets-20131105-story.html "> https://www.latimes.com/science/la-sci-earth-like-planets-20131105-story.html </a></li>
            <li><a id="ref11" href="https://www.nasa.gov/mission_pages/kepler/news/kepscicon-briefing.html "> https://www.nasa.gov/mission_pages/kepler/news/kepscicon-briefing.html </a></li>
            <li><a id="ref12" href="https://www.space.com/24142-kepler-62f.html "> https://www.space.com/24142-kepler-62f.html </a></li>
            <li><a id="ref13" href="https://www.nasa.gov/ames/kepler/kepler-186f-the-first-earth-size-planet-in-the-habitable-zone "> https://www.nasa.gov/ames/kepler/kepler-186f-the-first-earth-size-planet-in-the-habitable-zone </a></li>
            <li><a id="ref14" href="https://en.wikipedia.org/wiki/Proxima_Centauri_b "> https://en.wikipedia.org/wiki/Proxima_Centauri_b </a></li>
            <li><a id="ref15" href="https://www.nasa.gov/feature/goddard/2020/nasa-planet-hunter-finds-its-1st-earth-size-habitable-zone-world "> https://www.nasa.gov/feature/goddard/2020/nasa-planet-hunter-finds-its-1st-earth-size-habitable-zone-world </a></li>
            <li><a id="ref16" href="https://www.factretriever.com/milky-way-facts "> https://www.factretriever.com/milky-way-facts </a></li>
        </ol>
</p>
</div>