
@{
    ViewBag.Title = "Stars_Information";
}


<head>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<div class="container information-paragraphs">

    <h2>Stars Information</h2>


    <div>
        <h3>How many stars are there?</h3>
        In our solar system there is only one star which is our very own Sun.[<a href="#ref1">1</a>]<br><br>
        There has been debate of a second star called Nemesis that exists on the edge of our solar system that is theorized to appear every 32 million years but this has yet to be proven.[<a href="#ref1">1</a>]<br>
        The current estimate for the number of stars in our own Milky Way galaxy varies wildly from about 1 billion to 4 billion.[<a href="#ref2">2</a>]<br>
        The current estimate for the amount of stars in the universe is around 1 septillion/quadrillion or 1,000,000,000,000,000,000,000,000 but there is most likely many more than this.[<a href="#ref3">3</a>]<br>
        This is because it is very difficult to accurately count or estimate the amount of stars our galaxy or universe has due to the large amount of them.

    </div>

    <div>
        <h3>How many stars can we see from Earth</h3>
        The number of stars that could be visible from earth is around 10,000.[<a href="#ref4">4</a>]<br>
        This number is closer to 5,000 possibly visible at one time due to only half of the Earth being at nightime at any given moment.[<a href="#ref4">4</a>]<br>
        You may see more or less depending on things like the strength of your eyesight, the amount of light in the area around you, and the condition of the sky.[<a href="#ref4">4</a>]<br>
    </div>

    <div>
        <h3>How are stars created?</h3>
        Stars are formed from dust clouds in the middle of space.[<a href="#ref5">5</a>]<br>
        These clouds of dust can form masses big enough that they are pulled together by gravity.[<a href="#ref5">5</a>]<br>
        Material at the center of the cloud becomes hotter and eventually creates a protostar.[<a href="#ref5">5</a>]<br>
        Eventually this protostar will become a full star.
    </div>

    <div>
        <h3>What types of stars are there?</h3>
        These are a couple examples of different types of stars.<br>
        All information in this section is from [<a href="#ref6">6</a>] unless specified.<br><br>

        Red Giant
        Happens when a star runs out of hydrogen in its core.<br>
        It will start to burn the outer layer of hydrogen around the star.<br>
        This makes the star increase in size up to 100 times larger than its original size.<br>
        It can also run off of other elements such as helium until it runs out of fuel in a few hundred million years.<br>
        These eventually become white dwarfs.<br><br>


        White Dwarf<br>
        Happens when a red giant runs out of hydrogen to fuel itself.<br>
        It will drastically decrease in size under the force of gravity.<br>
        It will cool down over a period of hundreds of billions of years.<br><br>

        Red Dwarfs<br>
        These are the majority of stars in our galaxy.<br>
        These are stars that are like our Sun but have a much lower mass between .075 to half of our Sun.<br>
        They are much cooler than our Sun but can burn for much longer up to 10 trillion years.<br><br>

        Neutron Stars<br>
        Stars that are between 1.35 to 2.1 times the mass of our Sun take a different path.<br>
        Instead of becoming a white dwarf they instead explode into a supernova and leave behind their core called a neutron star.<br>
        These stars are mostly made up of neutrons.<br>
        If the stars are large enough they may become a black hole instead.<br><br>

        Supergiant Stars<br>
        These are stars that are much larger than our sun up to a dozen times.<br>
        They burn fuel much faster than our sun and will consume their fuel in around a few million years.

    </div>

    <div>
        <h3>What are some exmaples of well-known stars?</h3>
        All information in this section is from [<a href="#ref7">7</a>] unless specified.<br><br>

        Polaris<br>
        Also known as the North Star.<br>
        Close to the north pole.<br>
        Used as a tool for navigation for centuries.<br><br>

        Sirius<br>
        The brightest star in the night sky and in the Canis Major constellation.<br>
        This is due to its close distance and brightness.<br>
        It is an important part of some cultures.<br>
        Ancient Egyptians saw it as a sign that the Nile River was close to flooding.<br>
        The Greeks saw it as a sign that the “dog days of summer” would be close to starting.<br>
        The Polynesians saw it as a sign of winter.<br><br>


        Alpha Centauri System<br>
        It is the closest star system at about 4 lightyears away.<br>
        Made up of the stars Alpha Centauri A, Alpha Centauri B, and Proxima Centauri.<br><br>

        Betelgeuse<br>
        It is a red supergiant that is one of the largest and brightest stars in the night sky.<br>
        When it goes supernova it will be visible from earth.<br><br>

        Vega<br>
        A blue star in the Lyra constellation.<br>
        It is one of the first stars to be photographed.<br>
        It was also one of the first stars to have its spectrum recorded and distance measured.<br>
        It is used as a baseline to calibrate the photometric brightness scale.<br>
        Vega has played such an important part in the study of stats that it is quoted by some to be “arguably the next most important star in the sky after the Sun”.

    </div>

    <div>
        <h3>What are binary/multistar systems?</h3>
        All information in this section is from [<a href="#ref8">8</a>] unless specified.<br><br>

        Binary and Multi-Star Systems<br>
        These happen when two or more stars orbit each other.<br>
        Around ⅓ of the star systems in the Milky way are multi star systems.<br>
        Can be anywhere from two stars in a system to seven stars.<br>
        Stars that are close enough can share material with one another.<br>
        If one of the stars is a red giant it can either pass material to its partner or engulf it depending on the size of the red giant and the distance between the stars.<br>
        Binary neutron stars will eventually collide and form black holes.<br>
        A special kind of system is a Thorne-Zytkow object which is a red giant that is near binary neutron stars.<br>
        The neutron stars will go into the red giant either turning into a black hole and absorbing the red giant or becoming a larger neutron star.<br>
        This kind of event is only known to have happened once.<br>
    </div>



    <div>
        <h3>Lifecycle of a Star</h3>
        All information in this section is from [<a href="#ref6">6</a>] unless specified.<br><br>

        An average sized star will follow this cycle.
        <ol>
            <li>It will eventually run out of hydrogen in its core and start burning hydrogen on the outside of the star.</li>
            <li>The star will expand massively into a red giant.</li>
            <li>The star will still contain many of the same elements like hydrogen and helium but eventually burn through them.</li>
            <li>When the red giant runs out of fuel it will condense into a white dwarf.</li>
            <li>This is made up of heavier elements that the start can no longer use as fuel due to its size.</li>
        </ol>

        A much larger sized star will follow this cycle.
        <ol>
            <li>It will eventually turn into a red giant.</li>
            <li>The star will then release a massive supernova explosion leaving behind a neutron star.</li>
            <li>These stars are mostly made up of neutrons because protons and electrons have been crushed into neutrons due to the intense gravity they have.</li>
            <li>If the star is massive enough the neutron star may condense itself into a black hole.</li>
        </ol>



    </div>

    <div>
        <h3>References</h3>
        <ol>
            <li id="ref1"><a href="https://www.planetsforkids.org/how-many-stars-are-in-the-solar-system.html">https://www.planetsforkids.org/how-many-stars-are-in-the-solar-system.html</a></li>
            <li id="ref2"><a href="https://asd.gsfc.nasa.gov/blueshift/index.php/2015/07/22/how-many-stars-in-the-milky-way/">https://asd.gsfc.nasa.gov/blueshift/index.php/2015/07/22/how-many-stars-in-the-milky-way/</a></li>
            <li id="ref3"><a href="https://www.space.com/26078-how-many-stars-are-there.html">https://www.space.com/26078-how-many-stars-are-there.html</a></li>
            <li id="ref4"><a href="https://earthsky.org/astronomy-essentials/how-many-stars-could-you-see-on-a-clear-moonless-night">https://earthsky.org/astronomy-essentials/how-many-stars-could-you-see-on-a-clear-moonless-night</a></li>
            <li id="ref5"><a href="https://science.nasa.gov/astrophysics/focus-areas/how-do-stars-form-and-evolve">https://science.nasa.gov/astrophysics/focus-areas/how-do-stars-form-and-evolve</a></li>
            <li id="ref6"><a href="https://www.universetoday.com/24299/types-of-stars/amp/">https://www.universetoday.com/24299/types-of-stars/amp/</a></li>
            <li id="ref7"><a href="https://www.universetoday.com/45775/famous-stars/">https://www.universetoday.com/45775/famous-stars/</a></li>
            <li id="ref8"><a href="https://www.universetoday.com/132154/multiple-star-systems/">https://www.universetoday.com/132154/multiple-star-systems/</a></li>
        </ol>
    </div>
</div>


