
@{
    ViewBag.Title = "Stars_Constellations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" container information-paragraphs dark-bkr" style="text-align: center">
    <h2>Star Constellations Feature Coming Soon!</h2>
    <h4>The most recognizable star clusters that can be seen from Earth in the night's sky.</h4>
    <img src="https://c1.staticflickr.com/3/2310/2142647358_705e2a8ec6_b.jpg" width="480" height="480" />
</div>


