
@{
    ViewBag.Title = "AdminFeatures";
}

    <div class="container-fluid">

        @if (this.User.IsInRole("Super Administrator"))
        {
            <div class="container">
                <h1 class="white-txt text-center">Super Administrator Features</h1>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="~/AdminAbilities/AdminCreate">
                            <div class="admin-feature-modal text-center">
                                <h3>Create New Administrators</h3>
                                <br />
                                <br />
                                <div class="glyphicon glyphicon-pencil add-fact"></div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="~/AdminAbilities/AllAdmin">
                            <div class="admin-feature-modal text-center">
                                <h3>Manage Administrators</h3>
                                <br />
                                <br />
                                <div class="glyphicon glyphicon-pencil add-fact"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }

            <div class="container">
                <h1 class="white-txt text-center">Administrator Features</h1>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="~/AdminAbilities/InputFact">
                            <div class="admin-feature-modal text-center">
                                <h3>Input Fact of the Day</h3>
                                <br />
                                <br />
                                <div class="glyphicon glyphicon-pencil add-fact"></div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="~/AdminAbilities/ReviewComments">
                            <div class="admin-feature-modal text-center">
                                <h3>Review Comments</h3>
                                <br />
                                <br />
                                <div class="glyphicon glyphicon-pencil add-fact"></div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="~/AdminAbilities/AllUsers">
                            <div class="admin-feature-modal text-center">
                                <h3>Manage Users</h3>
                                <br />
                                <br />
                                <div class="glyphicon glyphicon-pencil add-fact"></div>
                            </div>
                        </a>
                    </div>
                    
                </div>

                <div style="height:30px"></div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="~/AdminAbilities/ReviewProjects">
                            <div class="admin-feature-modal text-center">
                                <h3>Review Projects</h3>
                                <br />
                                <br />
                                <div class="glyphicon glyphicon-pencil add-fact"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


        </div>

