@model IEnumerable<Astronomical_Learning.DAL.AspNetUser>

@{
    ViewBag.Title = "AllUsers";
}

    <div class="information-paragraphs dark-bkr">
        <div style="text-align:center">
            <h2>Banned Administrators </h2>
            @Html.ActionLink("See the list of all administrators.", "AllAdmin", "AdminAbilities")
        </div>

        <div style="text-align:center; justify-content:center">
            <br />
            <h4>Search for a banned user.</h4>
            <form method="post">
                <!--https://stackoverflow.com/questions/596444/html-actionlink-as-a-button-or-an-image-not-a-link-->
                <input type="search" placeholder="search for a banned user" name="searchInput" style="color:black">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <br />
        </div>

        <table class="table">
            <tr>
                <th>
                   Username
                </th>
                <th>
                    Banned Until (UTC)
                </th>



                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                    </td>


                    <td>
                        @Html.ActionLink("Edit Ban", "EditAdminBan", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }

        </table>
    </div>
