@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container information-paragraphs dark-bkr">

    <div style="text-align:center"><h2>An unkown error has occured.</h2></div>

    <div style="text-align:center"><h3>Something has gone wrong and we don't know why. If you may know please contact our support to help us fix the problem.</h3></div>

</div>

