@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}


<div class="container information-paragraphs dark-bkr">

    <div style="text-align:center"><h2>You have been locked out from using your account.</h2></div>

    <div style="text-align:center"><h3>This could be because you may have done something that violates our website rules. If you think that you may have been falsely locked out please contact our support.</h3></div>

</div>

