
@{
    ViewBag.Title = "SpaceAndFlightSuits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="information-paragraphs dark-bkr" style="text-align: center">
    <h2>Space Suit and Flight Suits Feature Coming Soon!</h2>
    <h4>The vital equipment that an astronaut relies on to keep them safe in space and space travel.</h4>
    <img src="https://www.nasa.gov/images/content/492421main_spacesuits_testing_lg.jpg" width="480" height="480" />
</div>
