
@{
    ViewBag.Title = "Credits";
}

    <div class="container information-paragraphs dark-bkr larger-font" style="text-align:center">
        <h2 style="text-align:center">Credits</h2>

        <div > <img src="https://wou.edu/files/2018/03/AthleticsLogo.png" alt="Western Oregon University Logo" style="height:50%; width:50%; display: block; margin-left: auto; margin-right: auto" /> </div>

        <div style="text-align: center">
            This website was created for a 2019-2020 Western Oregon Universtiy senior capstone project.<br/>
            It was created in six months in our senior sequence including the CS 461 Software Engineering II and CS 462 Software Engineering III classes with skills we learned in our CS 460 Software Engineering I class.
        </div>

        <div>
            <h3>The Team</h3>
            Matthew Hibner<br />
            Joshua Jacob Maurico <br />
            Robert Lochbaum <br />

        </div>

        <div>
            <h3>GitHub Repository</h3>
            You can access the GitHub repository using this button. <button  class="btn-primary" onclick="window.location.href='https://github.com/jmauricio1/MJR'">Our Repository</button> 
        </div>

        <div>
            <h3>Technology Used</h3> 
            Git: Used for version control.<br />
            Visual Studio 2019 (Community Edition): IDE used for development.<br />
            C#: The language used to write the website.<br />
            HTML 5: Used as the basis for creating the webpages.<br />
            Bootstrap 3 (CSS): Used fo the visual design of the website.<br />
            Javascript, Jquery Library, JSON, AJAX: Used for various major website components.<br />
            ASP.NET MVC5: Framework used for developing the website. <br />
            SQL Server Management Studio: Used to help manage our database.<br />
            Microsoft Azure: Used for website deployment and database storage.<br />
            SpaceX API (<a href="https://api.spacexdata.com/v3/launches">https://api.spacexdata.com/v3/launches</a>): Used to get info for the SpaceX launches. <br />
            Nasa's Astronomy Picture of the Day API: Used for the picture of the day. <br />
            Slack: Used for communication with instructors<br />
            Discord: Used for team communication and instructor communication.<br />
            SendGrid: Used to send out email verification.<br />
            reCAPTCHA: Used on registration page to protect from bots. <br />
            Agile Delivery/Scrum: The software development life cycle we used when creating the project.<br />

        </div>
    </div>

