
@{
    ViewBag.Title = "Credits";
}

    <div class="container information-paragraphs dark-bkr">
        <h2 style="text-align:center">Credits</h2>

        <div > <img src="https://wou.edu/files/2018/03/AthleticsLogo.png" alt="Western Oregon University Logo" style="height:50%; width:50%; display: block; margin-left: auto; margin-right: auto" /> </div>

        <div style="text-align: center">This website was created for a Western Oregon Universtiy senior project.</div>

        <div>
            <h3>The Team</h3>
            Matthew Hibner<br />
            Robert Lochbaum <br />
            Joshua Jacob Maurico
        </div>

        <div>
            <h3>GitHub Repository</h3>
            You can access the GitHub repository using this button. <a href="https://github.com/jmauricio1/MJR" class="btn-primary">Go to Repository</a>
        </div>

        <div>
            <h3>Technology Used</h3>
            Git: Used for verion control.<br />
            Visual Studio 2019 (Community Edition): IDE used for development.<br />
            C#: The language used to write the website<br />
            HTML 5: Used as the basis for creating the webpages.<br />
            Bootstrap 3 (CSS): Used fo the visual design of the website.<br />
            Javascript, Jquery Library, JSON, AJAX: Used for various maajor website components.<br />
            ASP.NET MVC5: Framework used for developing the website. <br />
            SQL Server Management Studio: Used to help manage our database.<br />
            Microsoft Azure: Used for website deployment and database storage.<br />
            SpaceX API (https://api.spacexdata.com/v3/launches): Used to get info for the SpaceX launches. <br />
            Nasa's Astronomy Picture of the Day API: Used for the picture on the day. <br />
            Slack: Used for communication with instructors<br />
            Discord: Used for team communication and instructor communication.
        </div>
    </div>

