
@{
    ViewBag.Title = "CustomError";
}

    <div class="container information-paragraphs dark-bkr">

        <div style="text-align:center"><h2>@ViewBag.Name</h2></div>

        <div style="text-align:center"><h3>@ViewBag.Message</h3></div>

    </div>




