@{
    ViewBag.Title = "Home Page";
}

<div style="color:white">
    <h4>The Moon</h4>
    Learn more about that big white sphere in the night sky. <a href="~/SolarSystem/Moon_Information">Learn More</a>
</div>
