@{
    ViewBag.Title = "Home Page";
}

<div style="color:white">
    <h4>The Sun</h4>
    Learn more about the ball in the center of the Solar System that lights up all of our days. <a href="~/SolarSystem/Sun_Information">Learn More</a>
</div>