@{
    ViewBag.Title = "Home Page";
}

<<<<<<< HEAD
<br />
<br />
<div style="color:white">
    <div class="row">
        <h3>Solar System</h3>
        <div class="col-lg-4">
            <h4>The Sun</h4>
            <div>
                Learn more about the ball in the center of the Solar System that lights up all of our days. <a href="~/SolarSystem/Sun_Information">Learn More</a>
=======

    <div style="color:white">
        <h3>Solar System</h3>
        <div class="row">
            <div class="col-lg-4">
                <h4>The Sun</h4>
                <div>
                    Learn more about the ball in the center of the Solar System that lights up all of our days. <a href="~/SolarSystem/Sun_Information">Learn More</a>
                </div>
>>>>>>> dfacd4fe532d95e2dfa21af195e97f0a1f2879c0
            </div>
            <div class="col-lg-4">
                <h4>The Moon</h4>
                <div>
                    Learn more about that big white sphere in the night sky. <a href="~/SolarSystem/Moon_Information">Learn More</a>
                </div>
            </div>
        </div>
        
        <br>
        
        <h3>Outside Our Solar System</h3>
        <div class="row">
            <div class="col-lg-4">
                <h4>Andromeda Galaxy</h4>
                <div>
                    Learn more about our closest galactic neighbor. <a href="~/OuterSystem/Andromeda_Information">Learn More</a>
                </div>
            </div>

<<<<<<< HEAD
    <div class="row">
        <h3>Space Companies</h3>
        <div class="col-lg-4">
            <h4>SpaceX</h4>
            <div>
                Learn more about SpaceX and its missions. @Html.ActionLink("Learn More", "SpaceX", "SpaceCompanies")
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
=======

        </div>
>>>>>>> dfacd4fe532d95e2dfa21af195e97f0a1f2879c0


    </div>



