@{
    ViewBag.Title = "Home Page";
}


<div style="color:white">
    <div class="row">
        <h3>Solar System</h3>
        <div class="col-lg-4">
            <h4>The Sun</h4>
            <div>
                Learn more about the ball in the center of the Solar System that lights up all of our days. <a href="~/SolarSystem/Sun_Information">Learn More</a>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>The Moon</h4>
            <div>
                Learn more about that big white sphere in the night sky. <a href="~/SolarSystem/Moon_Information">Learn More</a>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>Our Planets</h4>
            <div>
                Learn more about the planets and dwarf planets that are in our solar system.<a href="~/SolarSystem/Our_Planets">Learn More</a>
            </div>
        </div>
        <div class="col-lg-6">
            <h4>Space Debris</h4>
            <div>
                Learn more about the debris travelling in space, Asteroids, Comets and Meteoroids. <a href="~/SolarSystem/SpaceDebris_Information">Learn More</a>
            </div>
        </div>
        <div class="col-lg-6">
            <h4>Research on Mars</h4>
            <div>
                Get more details on the planet, Mars.<a href="~/SolarSystem/Mars_Research">Learn More</a>
            </div>
        </div>

        <br>
    </div>
    <div class="row">
        <h3>Outside Our Solar System</h3>
        <div class="col-lg-4">
            <h4>The Milky Way</h4>
            <div>
                Learn more about the galaxy in which Earth resides. <a href="~/OuterSystem/MilkyWay_Information">Learn More</a>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>Andromeda Galaxy</h4>
            <div>
                Learn more about our closest galactic neighbor. <a href="~/OuterSystem/Andromeda_Information">Learn More</a>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>Stars</h4>
            <div>
                Learn more about the lights in the night sky. <a href="~/OuterSystem/Stars_Information">Learn More</a>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Space Companies</h3>
        <div class="col-lg-6">
            <h4>SpaceX</h4>
            <div>
                Learn more about launches conducted by SpaceX. @Html.ActionLink("Learn More", "SpaceXLaunches", "SpaceCompanies")
                <br /><br />
                Learn more about SpaceX and its missions. @Html.ActionLink("Learn More", "SpaceX", "SpaceCompanies")
            </div>
        </div>
        <div class="col-lg-6">
            <h4>NASA</h4>
            <div>
                Learn more about NASA's past missions. @Html.ActionLink("Learn More", "Nasa", "NASAMissions")
                <br /><br />
                Learn more about NASA as a U.S. federal agency. @Html.ActionLink("Learn More", "NASA", "SpaceCompanies")
            </div>
        </div>
    </div>
</div>
