
@{
    ViewBag.Title = "InteractiveMap";
}

    <div class="container information-paragraphs dark-bkr" >
        <div style="text-align: center">
            <h2>Interactive Map</h2>
            <h4>Use the map to explore the universe.</h4>
            <h5>Click on an area to learn more about it.</h5>





            <div id="mapCarousel" class="carousel slide" data-ride="carousel carousel-fade" data-interval="false" style="height: 600px; width: 1500px; display: block; margin-left: auto; margin-right: auto;">



                <div class="carousel-inner" style="height: 600px; width: 1500px;">
                    <div class="item">

                        <div style=" background-image: url('../Images/SolarSystemMap.jpg'); height: 372px; width: 1023px; position:relative">

                            <div onclick="location.href='/SolarSystem/Sun_Information'" style="height:372px; width:160px; cursor:pointer; position: absolute; top:0px; right:865px" class="tooltipNew"><span class="tooltiptextNew">The Sun</span></div>

                            <div onclick="location.href='/SolarSystem/Our_Planets#0'" style="height:30px; width:30px; cursor:pointer; position: absolute; top:330px; right:815px" class="tooltipNew"><span class="tooltiptextNew">Mercury</span></div>

                            <div onclick="location.href='/SolarSystem/Our_Planets#1'" style="height:50px; width:50px; cursor:pointer; position: absolute; top:295px; right:735px" class="tooltipNew"><span class="tooltiptextNew">Venus</span></div>

                            <div onclick="location.href='/SolarSystem/Our_Planets#2'" style="height:50px; width:50px; cursor:pointer; position: absolute; top:250px; right:660px" class="tooltipNew"><span class="tooltiptextNew">Earth</span></div>

                            <div onclick="location.href='/SolarSystem/Our_Planets#3'" style="height:50px; width:50px; cursor:pointer; position: absolute; top:200px; right:607px" class="tooltipNew"><span class="tooltiptextNew">Mars</span></div>

                            <div onclick="location.href='/SolarSystem/Our_Planets#8'" style="height:25px; width:25px; cursor:pointer; position: absolute; top:300px; right:625px" class="tooltipNew"><span class="tooltiptextNew">Ceres</span></div>

                            <div onclick="location.href='/SolarSystem/Our_Planets#4'" style="height:110px; width:110px; cursor:pointer; position: absolute; top:190px; right:450px" class="tooltipNew"><span class="tooltiptextNew">Jupiter</span></div>

                            <div onclick="location.href='/SolarSystem/Our_Planets#5'" style="height:110px; width:100px; cursor:pointer; position: absolute; top:130px; right:330px" class="tooltipNew"><span class="tooltiptextNew">Saturn</span></div>

                            <div onclick="location.href='/SolarSystem/Our_Planets#6'" style="height:100px; width:80px; cursor:pointer; position: absolute; top:80px; right:230px" class="tooltipNew"><span class="tooltiptextNew">Uranus</span></div>

                            <div onclick="location.href='/SolarSystem/Our_Planets#7'" style="height:65px; width:65px;  cursor:pointer; position: absolute; top:55px; right:160px" class="tooltipNew"><span class="tooltiptextNew">Neptune</span></div>

                            <div onclick="location.href='/SolarSystem/KuiperBelt'" style="height:50px; width:860px; cursor:pointer; position: absolute; top:0px; right:0px" class="tooltipNew"><span class="tooltiptextNew">Kuiper Belt</span></div>
                            <div onclick="location.href='/SolarSystem/KuiperBelt'" style="height:372px; width:150px;  cursor:pointer; position: absolute; top:0px; right:0px" class="tooltipNew"><span class="tooltiptextNew">Kuiper Belt</span></div>


                            <div onclick="location.href='/SolarSystem/Our_Planets#8'" style="height:25px; width:25px; cursor:pointer; position: absolute; top:50px; right:85px" class="tooltipNew"><span class="tooltiptextNew">Pluto</span></div>


                            <div onclick="location.href='/SolarSystem/Our_Planets#8'" style="height:25px; width:25px;  cursor:pointer; position: absolute; top:190px; right:35px" class="tooltipNew"><span class="tooltiptextNew">Makemake</span></div>


                            <div onclick="location.href='/SolarSystem/Moon_Information'" style="height:25px; width:25px;  cursor:pointer; position: absolute; top:220px; right:670px" class="tooltipNew"><span class="tooltiptextNew">The Moon</span><div style="height:12px; width:12px; background-color:whitesmoke; border-radius:10px; position: absolute; top:5px; right:5px"></div></div>


                            <div style="position: absolute; top:170px; right:617px; width: 0;  height: 0; border-top: 3px solid transparent;  border-bottom: 3px solid transparent; border-left: 9px solid red;"></div>
                            <div style="position: absolute; top:163px; right:634px; height:8px; width:8px; width: 0;  height: 0; border-top: 9px solid transparent;  border-bottom: 9px solid transparent; border-left: 6px solid blue;"></div>
                            <div style=" background-color:darkgray; position: absolute; top:170px; right:624px; height:6px; width:12px;"></div>

                            <div onclick="location.href='/SolarSystem/Mars_Research'" style="height:25px; width:25px; cursor:pointer; position: absolute; top:162px; right:618px" class="tooltipNew"><span class="tooltiptextNew">Mars Research</span></div>


                            <div onclick="location.href='/SolarSystem/SpaceDebris_Information'" style="height:25px; width:25px;  cursor:pointer; position: absolute; top:120px; right:690px" class="tooltipNew"><span class="tooltiptextNew">Space Debris</span><div style="position: absolute; top:5px; right:-12px; width: 0;  height: 0; border-top: 6px solid transparent;  border-bottom: 6px solid transparent; border-left: 25px solid lightblue;"></div><div style="height:12px; width:12px; background-color:antiquewhite; border-radius:10px; position: absolute; top:5px; right:5px"></div></div>

                            <div onclick="location.href='/SolarSystem/Our_Planets#8'" style=" height: 25px; width: 25px;   cursor: pointer; position: absolute; top: 20px; right: 35px" class="tooltipNew"><span class="tooltiptextNew">Eris</span><div style="height:12px; width:12px; background-color:antiquewhite; border-radius:10px; position: absolute; top:5px; right:5px"></div></div>

                            <div onclick="$('#mapCarousel').carousel(1);" style=" height: 75px; width: 75px; border: solid 1px white; background-image: url('../Images/GalaxyMapSmall.jpg'); cursor: pointer; position: absolute; top: 300px; right: 0px" class="tooltipNew">  <span class="tooltiptextNew">The Universe</span> </div>

                        </div>
                    </div>

                    <div class="item active">

                        <div style="        background-image: url('../Images/GalaxyMap.jpg');
        height: 593px;
        width: 1023px;
        position: relative
">

                            <div onclick="location.href='/OuterSystem/Interstellar_Space'" style=" height:593px; width:160px; cursor:pointer; position: absolute; top:0px; right:865px" class="tooltipNew"><span class="tooltiptextNew">Interstellar Space</span></div>

                            <div onclick="location.href='/OuterSystem/Andromeda_Information'" style="height:160px; width:160px; cursor:pointer; position: absolute; top:200px; right:510px" class="tooltipNew"><span class="tooltiptextNew">Andromeda Galaxy</span></div>

                            <div onclick="location.href='/OuterSystem/Stars_Constellations'" style=" background-image: url('../Images/Constellation.jpg');  height:150px; width:150px; cursor:pointer; position: absolute; top:100px; right:865px" class="tooltipNew"><span class="tooltiptextNew">Constellations</span></div>

                            <div onclick="$('#mapCarousel').carousel(0);" style="border: solid 1px white; height:36px; width:100px; background-image: url('../Images/SolarSystemMapSmall.jpg'); cursor:pointer; position: absolute; top:350px; right:110px" class="tooltipNew"><span class="tooltiptextNew">Our Solar System</span></div>
                            <div style="position: absolute; top:386px; right:155px; width: 0;  height: 0; border-top: 6px solid white;  border-bottom: 6px solid transparent; border-left: 6px solid transparent; border-right: 6px solid transparent;" ></div>

                            <div onclick="location.href='/OuterSystem/MilkyWay_Information'" style="height: 160px; width:160px; cursor:pointer; position: absolute; top:300px; right:200px" class="tooltipNew"><span class="tooltiptextNew">Milky Way Galaxy</span></div>

                            <div onclick="location.href='/OuterSystem/Stars_Information'" style=" height:100px; width:100px; cursor:pointer; position: absolute; top:170px; right:180px" class="tooltipNew"><span class="tooltiptextNew">Stars</span></div>

                        </div>
                    </div>

                   
                </div>


            </div>
        </div>

        <button class="btn-primary" onclick="showDiv('mapSources')">Click to show the sources of these images</button>
        <div id="mapSources" style="display:none">
            <ul>
                <li>These images come from these owners.</li>
                <li>Solar System <a href="https://www.flickr.com/photos/11304375@N07/2818891443">Source</a>, <a href="https://creativecommons.org/licenses/by/2.0/">Creative Commons</a></li>
                <li>Galaxy <a href="https://www.flickr.com/photos/hubble-heritage/3409118793/sizes/l/">Source</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0/">Creative Commons</a></li>
                <li>Constellation <a href="https://www.flickr.com/photos/kevinmgill/14628935305">Source</a>, <a href="https://creativecommons.org/licenses/by/2.0/">Creative Commons</a></li>
                <li>These images are edited from their original form.</li> 
            </ul>
        </div>
    </div>

    <script src="~/Scripts/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>