
@{
    ViewBag.Title = "InteractiveMap";
}

    <div class="container information-paragraphs dark-bkr" style="text-align: center">
        <h2>Interactive Map</h2>
        <h4>Use the map to explore the universe</h4>
        <div style="overflow:auto; height: 372px; width: 1023px; display: block; margin-left: auto; margin-right: auto;">
            <div style=" background-image: url('../Images/SolarSystemMap.jpg'); height: 372px; width: 1023px; ">
                <div style="height:276px; width: 524px; background-color:red"></div>
               
            </div>
        </div>
    </div>