@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/HomeStyle.css">

<div class="row">
    <div class="col">
        <img src="https://images.unsplash.com/photo-1560090995-01632a28895b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80" id="mainImage" />
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find records for anyone</h2>
        <p>
            Our database has records for many athletes from high school to professional level in many different events.
        </p>
    </div>
    <div class="col-md-4">
        <h2>See all the stats</h2>
        <p>Our data provides a multitude of different information for each of your athletes.</p>
    </div>
    <div class="col-md-4">
        <h2>Advanced Tools</h2>
        <p>Use our advance tools to be able to predict your athlete's performace over time. </p>
    </div>
</div>

