
@{
    ViewBag.Title = "NASA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container information-paragraphs larger-font dark-bkr">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1 class="text-center info-page-title">NASA</h1>
            <br />
            <p class="info-par">
                NASA, or the 'National Aeronautics and Space Administration' is a United States government agency that is responsible for science and technology related to air and space.
                NASA has countless contributions towards science and space travel. Astronauts in orbit are conducting scientific research. Satellites launched are helping scientests learn
                more about our own Earth.
                [<a href="https://www.nasa.gov/audience/forstudents/5-8/features/nasa-knows/what-is-nasa-58.html">REF</a>]<br />
            </p>
            <p class="info-par">
                Many of NASA's inventions have also seen commercial success and influenced many business markets. Some of NASA's greatest commercial inventions include
                smoke detectors, memory foam, cordless tools, shoe insoles, ear thermometers, scratch-resistant lenses and much more!
                [<a href="https://www.philips.com/c-w/malegrooming/philips-space/space/10-space-innovations-that-are-closer-than-you-think.html">REF</a>]
            </p>
            <br />
            NASA's offical website can be found here: <a href="https://www.nasa.gov/"> https://www.nasa.gov/ </a>

            <br />
            <br />
            <h2>NASA's Foundation</h2>
            <div class="row">
                <div class="col-lg-4">
                    <img src="~/Images/DwightDEisenhower.jpg" style="border-radius: 50%; height: 300px; width: 300px;" />
                </div>
                <div class="col-lg-8">
                    <p class="info-par">
                        Although NASA's exact founding date is attributed to July 29th, 1958 it's true roots can be traced further. Before NASA, there was NACA (National Advisory Committee
                        for Aeronautics) which was as the name implies, only focused on Aeronautics. On October 4th, 1957, the Russian artificial satellite, Sputnik 1 was launched into Earth's
                        orbit. This event would be known as "The Sputnik Crisis" in the United States and sparked immediate action for the United States to reinforce their own space efforts.
                    </p>
                    <p class="info-par">
                        On January 14th, 1958, NACA's director organized a "Special committee on Space Technology". This committee would bring about a new federal agency that would handle all
                        non military applications of space activity. On July 29th, 1958, NASA officially came to life when acting president Dwight D. Eisenhower (pictured left) signed the
                        "National Aeronautics and Space Act" officially establishing NASA. NASA would begin its operations on October 1st, 1958, completely absorbing the NACA and it's 8,000
                        employees, three major research labratories and two small testing facilities.
                        [<a href="https://en.wikipedia.org/wiki/NASA#Creation">REF</a>]
                    </p>
                </div>
                <br>
            </div>
            <br />
            <h2>NASA's Current Administration</h2>
            <div class="row">
                <div class="col-lg-8">
                    <p class="info-par">
                        As NASA is a federal agency, the administrator more often than not is appointed by the current acting president and is confirmed by the U.S. Senate. The current
                        acting administrator is James Frederick "Jim" Bridenstine (pictured right) who was nominated by the United States 45th president Donald J. Trump. Jim Bridenstine
                        was sworn in as NASA's 13th administrator on April 23rd, 2018.
                    </p>
                    <p class="info-par">
                        Bridenstine was elected in 2012 to represent Oklahoma's First Congressional District in the U.S.
                        House of Representatives. He Served on the Armed Services Committee and the Science, Space and Technology Committee. After performing his service in the U.S. Navy,
                        Bridenstine returned to Oklahoma where he would become the Executive Director of Tulsa Air and Space Museum & Planetarium.
                        [<a href="https://www.nasa.gov/nasa-leadership">REF</a>]
                    </p>
                </div>
                <div class="col-lg-4">
                    <img src="~/Images/JimBridenstine.jpg" style="border-radius: 50%; height: 300px; width: 300px;" />
                </div>
                <br>
            </div>
            <br />
            <h2>NASA's Vision</h2>
            According to NASA's <a href="https://www.nasa.gov/sites/default/files/atoms/files/6-nasa_2018_strategic_plan_mar2018_tagged.pdf">2018 Strategic Plan</a> their vision is:
            "To discover and expand knowledge for humankind".
            <br /><br />
            According to the same document their mission is stated as: <br />
            <p class="info-par">
                "Lead an innovative and sustainable program of exploration with commercial and international partners to enable human expansion across the Solar System and bring
                new knowledge and opportunities back to Earth. Support growth of the Nation’s economy in space and aeronautics, increase understanding of the Universe and our place in
                it, work with industry to improve America’s aerospace technologies, and advance American leadership."
            </p>
            <br />
            <h2>NASA's Active Facilities</h2>
            <p class="info-par">
                For more information on NASA's facilities see NASA's full descriptions: <a href="https://www.nasa.gov/sites/default/files/files/NASAFacilitiesAndCenters.pdf"> View detailed facility descriptions. </a>
                If you are interested in visiting any NASA facilities refer to NASA's website: <a href="https://www.nasa.gov/about/sites/index.html"> NASA Facilities List & Visitor Information</a><br />
            </p>
            <br />
            <div class="text-center">
                The following map is owned and created by NASA. <a href="https://www.nasa.gov/sites/default/files/files/NASAFacilitiesAndCenters.pdf"> Map can be found here.</a>
                <img src="~/Images/NASA-Facilities.png" />"
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
