@{
    ViewBag.Title = "SpaceX Launches";
}
<div class="alert alert-info text-center" role="alert">
    More launch details coming in the future!
</div>
<div class="container">
    <h1 class="information-paragraphs text-center"> SpaceX Launches </h1>
    <div id="launch-list" class="row information-paragraphs">

    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/spacex-main.js"></script>
}