@{
    ViewBag.Title = "About SpaceX";
}

<br />
<div class="container information-paragraphs dark-bkr larger-font">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <h1 class="info-page-title text-center">SPACEX</h1>
            <br />
            <p class="info-par">
                SpaceX is a private aerospace company that designs, constructs, and launches spacecraft and rockets.
                SpaceX is a young and very accomplished company being well-known for their successful attempts at returning multiple spacecrafts from a low Earth orbit.
                Through their innovation and accomplishments, SpaceX was able to obtain contracts for other notable companies such as the National Aeronautics and Space Administration (NASA) and Blue Origin.
                [<a href="https://www.spacex.com/about">REF</a>]
            </p>
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <h2>Elon Musk</h2>
                    <p class="info-par">
                        SpaceX was founded in 2002 by Elon Musk, an entrepreneur who is originally from South Africa and now holds citizenship in South Africa, Canada, and the United States.
                        Elon Musk is also known for being a co-founder of Tesla Motors, an electric vehicle company, and should his first piece of software at the age of 12.
                        Before starting SpaceX, Elon Musk had an original goal of starting life on Mars through the growth of plants.
                        [<a href="https://www.cnbc.com/2019/03/20/spacex-rise-elon-musk-mars-dream.html">REF</a>]
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="text-center">
                        <img src="~/Images/Elon-Musk.jpg" id="elon-musk-img" />
                    </div>
                </div>
            </div>
            <br />
            <h2>SpaceX's Vision</h2>
            <p class="info-par">
                According to SpaceX’s website, they have an “ultimate goal of enabling people to love on other planets.”
                As a further description of this statement, SpaceX has also stated that they are “working on a next generation of fully reusable launch vehicles that will be the most powerful ever built, capable of carrying humans to Mars and other destinations in the Solar System”
                [<a href="https://www.cnbc.com/2019/03/20/spacex-rise-elon-musk-mars-dream.html">REF</a>].
                With humans on Mars, Elon Musk and SpaceX wish to create humanity to be a multi-planetary species.
            </p>
            <br />
            <h2>The Starman</h2>
            <p class="info-par">
                Starman was a publicity stunt from SpaceX that included a mannequin wearing a space suit, a Tesla car, and a Falcon Heavy rocket.
                SpaceX placed the mannequin with the space suit into the car and launched it using the Falcon Heavy rocket.
                Now the car is orbiting around the sun, in space, just like the Earth does.
            </p>
            <p> For more information and the tracking of Starman, please see <a href="https://spacein3d.com/starman">"Where is Starman?"</a></p>
            <div class="text-center">
                <img src="~/Images/starman-img.jpg" id="starman-img" />
            </div>
            <br />
            <h2>SpaceX Facilities</h2>
            <p>A full description of their current facilities can be found at <a href="https://www.spacex.com/about/capabilities">SpaceX facilities</a>.</p>
            <img src="~/Images/us-map.png" id="us-map-facilities" />
            <br />
            <br />
            <p>Click <a href="https://www.spacex.com/">Here</a> for the official site of SpaceX.</p>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
