@{
    ViewBag.Title = "About SpaceX";
}

<br />
<div class="container information-paragraphs">
    <h3>Who is <strong>Elon Musk</strong>?</h3>
    <p>
        Elon Musk is the founder of SpaceX.
        He was born in South Africa, moved to Canada in 1989, then moved to the United States and acquired citizenship for all three countries.
        Elon Musk is also known for being a co-founder of Tesla Motors, an electric vehicle company, and sold his first piece of software at the age of 12.
        [<a href="#ref1">1</a>]
    </p>
    <h3>What is <strong>SpaceX </strong>?</h3>
    <p>
        SpaceX is a company found in 2002 that designs, constructs, and launches spacecraft and rockets.
    </p>
    <h3><strong>Vision</strong></h3>
    <p>
        SpaceX's goal is to have people live on other planets, specifically a strong intent of growing a colony on Mars.
    </p>
    <h3>What is <strong>SpaceX </strong>?</h3>
    <p>
        Starman was a stunt from SpaceX that included a mannequin wearing a space suit,
        a Tesla car, and a Falcon Heavy rocket. SpaceX placed the mannequin with the space suit into the car and launched it using the Falcon Heavy rocket.
        Now the car is orbiting around the sun, in space, just like the Earth does. [<a href="#ref2">2</a>]
    </p>

    <h3>SpaceX Facilities</h3>
    <img src="~/Images/us-map.png" id="us-map-facilities" />
    <br />
    <p>Click <a href="https://www.spacex.com/">Here</a> for more about SpaceX</p>
</div>
<div>
    <h3 class="information-paragraphs">References</h3>
    <ol>
        <li><a id="ref1" href="https://www.biography.com/business-figure/elon-musk">https://www.biography.com/business-figure/elon-musk</a></li>

        <li><a id="ref2" href="https://www.space.com/42337-spacex-tesla-roadster-starman-beyond-mars.html">https://www.space.com/42337-spacex-tesla-roadster-starman-beyond-mars.html</a></li>
    </ol>


</div>
