@{
    ViewBag.Title = "SpaceX Launches";
}

<div class="container launch-details">
    <br />
    <br />
    <br />
    <h1 class="information-paragraphs text-center mission-sub underlined"> SpaceX Launches </h1>
    <div id="launch-list" class="row information-paragraphs">

    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/spacex-main.js"></script>
}