
@{
    ViewBag.Title = "KuiperBelt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container information-paragraphs dark-bkr" style="text-align: center">
    <h2>Kuiper Belt Feature Coming Soon!</h2>
    <h4>A region beyond Neptune's orbit believed to be the source of most comets in our solar system.</h4>
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/NASA-PathsOfSpaceProbesThroughTheKuiperBelt-20190105.jpg" width="480" height="480" />
</div>

