@{
    ViewBag.Title = "Mars Research";
}
<div class="information-paragraphs dark-bkr">
    <h1>More on Mars</h1>
    <h2>Mars vs. Earth</h2>
    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Mars</th>
                        <th scope="col">Earth</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Radius(miles):</th>
                        <td>2106</td>
                        <td>3959</td>
                    </tr>
                    <tr>
                        <th scope="row">Circumference(miles):</th>
                        <td>13,263</td>
                        <td>24,901</td>
                    </tr>
                    <tr>
                        <th scope="row">Day Length:</th>
                        <td>24.5 hours</td>
                        <td>24 hours</td>
                    </tr>
                    <tr>
                        <th scope="row">Year Length:</th>
                        <td>687 Earth Days</td>
                        <td>365 Days</td>
                    </tr>
                    <tr>
                        <th scope="row">Mass:</th>
                        <td>0.64171 * 10<sup>24</sup></td>
                        <td>5.9723 * 10<sup>24</sup></td>
                    </tr>
                    <tr>
                        <th scope="row">Gravity</th>
                        <td>3.711 m/s<sup>2</sup></td>
                        <td>9.807 m/s<sup>2</sup></td>
                    </tr>
                    <tr>
                        <th scope="row">Atmosphere</th>
                        <td>Thin atmosphere made up of carbon dioxide, nitrogen, and argon.</td>
                        <td>Thick atmosphere made up of nitrogen, oxygen, argon, and carbon dioxide.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <!--Picture goes here-->
        </div>
    </div>
    <div>
        <h2>Mars' Name</h2>
        <p>
            Mars gets its name after the Ancient Roman god of war. The Ancient Egyptians also had a name for Mars which was “Her Desher,” or “the Red One.”
            Mars has many names but often called the “Red Planet” because of its appearance in color due to rust or oxidization in the iron on its surface.
            [<a href="#ref3">3</a>]
        </p>
        <h2>Planetary Composition</h2>
        <p>
            Mars is a terrestrial planet, which means the composition relates to Earth.
            Mars has a dense core that is made up of iron, nickel and sulfur. Surrounding the core is the Mars’ mantle which is mostly rocky. For the outer layer of Mars, the crust, is composed of iron, magnesium, aluminum, calcium, and potassium.
            [<a href="#ref3">3</a>]
        </p>
        <h2>Mars' Surface</h2>
        <p>
            The surface features of Mars are also very close to the dry land of Earth.
            There are volcanoes, movement of crusts, and dust storms.
            Some of these dust storms can cover the whole planet which leaves it hardly visible for weeks and makes it a disadvantage for the Mars rovers and Earth’s scientists. [<a href="#ref4">4</a>]
            Currently the rover Opportunity has not responded since June 10, 2018 due to the intensity of the dust storms and the impacts of it on the rover.
            [<a href="#ref5">5</a>]
        </p>
        <h3>Olympus Mons</h3>
        <p>
            After the Mariner 9 started its orbit around Mars in November 14, 1971, Olympus Mons was found to be the largest volcano in the solar system with a name that translates to “Mount Olypmus”. [<a href="#ref6">6</a>]
            This mighty volcano measures at 374 miles in diameter, 25 miles in height, and 50 miles wide caldera. [<a href="#ref7">7</a>]
            In comparison to Earth’s own Mauna Loa, Olympus Mons has a volume that is almost 100 times larger than Mauna Loa. [<a href="#ref7">7</a>]
            The reason why Olympus Mons is so big is because the hotspot that was under the volcano stayed in the same spot instead of moving away from the volcano like the hotspot that formed the Hawaiian Islands.
        </p>
        <h3>Valles Marineris</h3>
        <p>
            Once again by the Mariner 9, in 1972 Valles Marineris, or “Mariner Valley,” was discovered through images taken by the spacecraft. [<a href="#ref8">8</a>]
            Valles Marineris was found to be about 10 times larger than Earth’s very own Grand Canyon.
            With a length of 2500 miles and a depth of about 4 miles, this valley is almost as wide as the United States of America’s width of 2,680 miles. [<a href="#ref9">9</a>]
            Majority of researchers have agreed that Valles Marineris is a crack in the crust and formed through the cooling of Mars and years of erosion. [<a href="#ref10">10</a>]
        </p>
        <h2>Water on Mars?</h2>
        <p>
            Mars, to many, is known to be a planet that is mostly dusty and dry, with no sign of life, but research has found evidence that Mars once had sections covered with liquid water.
            Initially, with the Mariner 9, images of Mars have shown that there were riverbeds caused by nothing else but water.
            In support of water existing on Mars, on July 31, 2008, the Phoenix Lander has also found and confirmed the theory that there was ice below the surface of Mars on its northern regions.
            [<a href="#ref11">11</a>]
            From the rovers, Spirit and Opportunity, they have discovered these rocks have been formed and created as a result from water.
            [<a href="#ref12">12</a>]
            In 2012, the rover, Curiosity, found evidence that old streambeds on Mars flowed through the rocks and  concluded that some conglomerate rocks have been eroded by water.
            [<a href="#ref12">12</a>]
            As for the future of water on Mars, researchers are still implementing satellites and rovers to help take more detailed images of the surface of features of mars; especially in the regions where bodies of water could have existed.
            Researchers are also using their rovers to look for ‘near-surface’ ice across many of the Martian regions and plan to excavate those regions to attain the below-surface ice. [<a href="#ref13">13</a>]
            NASA has plans for the future that involves sending humans to the Red Planet.
            This includes choosing a potential landing site that is close to water ice.
            "We're continuing to collect data on buried ice on Mars, zeroing in on the best places for astronauts to land." [<a href="#ref13">13</a>]
        </p>
    </div>
    <div class="row">
        <h2>The Moons of Mars</h2>
        <div class="col-lg-6">
            <br />
            Phobos and Deimos were both discovered in 1877 by astronomer Asaph Hall.
            As for their names, Phobos, meaning fear, and Deimos, meaning panic, were named after the two horses that pulled the chariot of the counterpart to Mars, Ares.
            Since the surface materials of these moons consist of carbon and ice, researchers have assumed that the two moons are actually asteroids captured in Mars’ orbit.
            [<a href="#ref14">14</a>]
        </div>
        <div class="col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Phobos</th>
                        <th scope="col">Deimos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Distance from Mars (miles):</th>
                        <td>9,377</td>
                        <td>23,436</td>
                    </tr>
                    <tr>
                        <th scope="row">Orbital Period (Mars Days):</th>
                        <td>0.31891</td>
                        <td>1.26244</td>
                    </tr>
                    <tr>
                        <th scope="row">Mass:</th>
                        <td>10.8 * 10<sup>15</sup></td>
                        <td>1.8 * 10<sup>15</sup></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <h3>References</h3>
        <ol>
            <li><a id="ref1" href="https://nssdc.gsfc.nasa.gov/planetary/factsheet/earthfact.html">https://nssdc.gsfc.nasa.gov/planetary/factsheet/earthfact.html</a></li>
            <li><a id="ref2" href="https://nssdc.gsfc.nasa.gov/planetary/factsheet/marsfact.html">https://nssdc.gsfc.nasa.gov/planetary/factsheet/marsfact.html</a></li>
            <li><a id="ref3" href="https://solarsystem.nasa.gov/planets/mars/in-depth/">https://solarsystem.nasa.gov/planets/mars/in-depth/</a></li>
            <li><a id="ref4" href="https://mars.nasa.gov/mars-exploration/missions/mariner-8-9/">https://mars.nasa.gov/mars-exploration/missions/mariner-8-9/</a></li>
            <li><a id="ref5" href="https://mars.nasa.gov/weather/storm-watch-2018/">https://mars.nasa.gov/weather/storm-watch-2018/</a></li>
            <li><a id="ref6" href="http://www.unmuseum.org/7wonders/olympus_mons.htm">http://www.unmuseum.org/7wonders/olympus_mons.htm</a></li>
            <li><a id="ref7" href="https://mars.jpl.nasa.gov/gallery/atlas/olympus-mons.html">https://mars.jpl.nasa.gov/gallery/atlas/olympus-mons.html</a></li>
            <li><a id="ref8" href="https://themis.asu.edu/vallesspecial">https://themis.asu.edu/vallesspecial</a></li>
            <li><a id="ref9" href="https://www.worldatlas.com/webimage/countrys/namerica/usstates/uslandst.htm">https://www.worldatlas.com/webimage/countrys/namerica/usstates/uslandst.htm</a></li>
            <li><a id="ref10" href="https://mars.jpl.nasa.gov/gallery/atlas/valles-marineris.html">https://mars.jpl.nasa.gov/gallery/atlas/valles-marineris.html</a></li>
            <li><a id="ref11" href="https://deepblue.lib.umich.edu/bitstream/handle/2027.42/94752/jgre2486.pdf;jsessionid=B4485C27FD89032B74332DFE7A0C82EB?sequence=1">https://deepblue.lib.umich.edu/bitstream/handle/2027.42/94752/jgre2486.pdf;jsessionid=B4485C27FD89032B74332DFE7A0C82EB?sequence=1</a></li>
            <li><a id="ref12" href="https://astrobiology.nasa.gov/news/water-on-mars-the-story-so-far/">https://astrobiology.nasa.gov/news/water-on-mars-the-story-so-far/</a></li>
            <li><a id="ref13" href="https://mars.nasa.gov/news/8568/nasas-treasure-map-for-water-ice-on-mars/">https://mars.nasa.gov/news/8568/nasas-treasure-map-for-water-ice-on-mars/</a></li>
            <li><a id="ref14" href="https://solarsystem.nasa.gov/moons/mars-moons/in-depth/">https://solarsystem.nasa.gov/moons/mars-moons/in-depth/</a></li>
        </ol>
    </div>
</div>