
@{
    ViewBag.Title = "Moon_Information";
}


    <body style="color:white">
        <h2>Moon Information</h2>

        <div>
            <h3>Where does The Moon's name come from?</h3>
            The moon’ name comes from the proto-germanic word Menon. [<a href="#ref1">1</a>]
        </div>

        <div>
            <h3>How was The Moon created?</h3>
            It is hypothesized that the moon was created after a planet about the size of Mars impacted the earth. [<a href="#ref2">2</a>]<br>
            Debris from the impact eventually came together to form what we know as the Moon. [<a href="#ref2">2</a>]
        </div>

        <div>
            <h3>How far away is The Moon?</h3>
            The distance from the Earth to Moon is 238,855 miles away from Earth which is equal to about 30 Earths. [<a href="#ref3">3</a>]
        </div>

        <div>
            <h3>How big is The Moon</h3>
            The moon's diameter is around  2,159.2 miles (3,475 km), making it less than a third the width of Earth. [<a href="#ref4">4</a>]<br>
            The moon's mass is 7.35 x 10^22 kg which is 81 times smaller than the Earth. [<a href="#ref4">4</a>]
        </div>

        <div>
            <h3>What is The Moon made out of?</h3>
            The moon itself is mostly made of rock and has three layers: the crust, mantle and core. [<a href="#ref5">5</a>]
        </div>

        <div>
            <h3>Why is The Moon important</h3>
            The Moon is very important to Earth as the Moon is the reason that we have tides but it also helps keeps the Earth’s rotation in check. [<a href="#ref6">6</a>]
        </div>

        <div>
            <h3>What important missions have humans had to The Moon</h3>
            There have also been many groundbreaking missions with the moon. [<a href="#ref7">7</a>]<br>
            On September 13 1959 the Luna 2 launched by the USSR was the first spacecraft to impact the Moon’s surface. [<a href="#ref7">7</a>]<br>
            On October 6 1959 the USSR were the first to get pictures of the Moon’s other side. [<a href="#ref7">7</a>]<br>
            On July 20 1969 the Apollo 11 mission from the USA was the first mission to land humans on the Moon’s surface. [<a href="#ref7">7</a>]
        </div>

        <div>
            <h3>What is a Lunar Eclipse</h3>
            A lunar eclipse happens when the Earth gets between the Moon and the Sun which casts a shadow on the Moon. [<a href="#ref8">8</a>]<br>
            The reason we do not have monthly solar eclipses is because The Moon's movment around The Earth is tilted compared to Earth's rotation around The Sun. [<a href="#ref8">8</a>]
        </div>

        <div>
            <h3>Other Facts about The Moon</h3>
            The Moon's gravity is about 1/5 of the Earth's. [<a href="#ref9">9</a>]<br>
            The Moon's temperature can vary wildly from 107 degrees Celsius (225 F) during the day to -153 degrees Celsius (-174 F) at night. [<a href="#ref9">9</a>]
        </div>

        <div>
            <h3>References</h3>
            <ol>
                <li><a id="ref1" href="https://gizmodo.com/how-the-moon-got-its-name-1696701328"> https://gizmodo.com/how-the-moon-got-its-name-1696701328</a></li>
                <li><a id="ref2" href="https://www.space.com/19275-moon-formation.html">https://www.space.com/19275-moon-formation.html</a></li>
                <li><a id="ref3" href="https://spaceplace.nasa.gov/moon-distance/en/">https://spaceplace.nasa.gov/moon-distance/en/</a></li>
                <li><a id="ref4" href="https://www.space.com/18135-how-big-is-the-moon.html"> https://www.space.com/18135-how-big-is-the-moon.html</a></li>
                <li><a id="ref5" href="https://www.space.com/19582-moon-composition.html">https://www.space.com/19582-moon-composition.html</a></li>
                <li><a id="ref6" href="https://solarsystem.nasa.gov/moons/earths-moon/overview/">https://solarsystem.nasa.gov/moons/earths-moon/overview/</a></li>
                <li><a id="ref7" href="http://www.sciencekids.co.nz/sciencefacts/space/moon.html">http://www.sciencekids.co.nz/sciencefacts/space/moon.html</a></li>
                <li><a id="ref8" href="https://spaceplace.nasa.gov/eclipses/en/">https://spaceplace.nasa.gov/eclipses/en/</a></li>
                <li><a id="ref9" href="http://www.sciencekids.co.nz/sciencefacts/space/moon.html">http://www.sciencekids.co.nz/sciencefacts/space/moon.html</a></li>
                
            </ol>


            
            
            
            
            
            
            
            
        </div>

    </body>


