
@{
    ViewBag.Title = "Moon_Information";
}


    <body style="color:white">
        <h2>Moon Information</h2>

        <div>
            <h3>Where does The Moon's name come from?</h3>
            The moon’ name comes from the proto-germanic word Menon.
        </div>

        <div>
            <h3>How was The Moon created?</h3>
            It is hypothesized that the moon was created after a planet about the size of Mars impacted the earth.<br>
            Debris from the impact eventually came together to form what we know as the Moon.
        </div>

        <div>
            <h3>How far away is The Moon?</h3>
            The distance from the Earth to Moon is 238,855 miles away from Earth which is equal to about 30 Earths.
        </div>

        <div>
            <h3>How big is The Moon</h3>
            The moon's diameter is around  2,159.2 miles (3,475 km), making it less than a third the width of Earth.<br>
            The moon's mass is 7.35 x 1022 kg which is 81 times smaller than the Earth.
        </div>

        <div>
            <h3>Why is the Moon Important</h3>
            The Moon is very important to Earth as the Moon is the reason that we have tides but it also helps keeps the Earth’s rotation in check.
        </div>

        <div>
            <h3>What important missions have humans had to The Moon</h3>
            There have also been many groundbreaking missions with the moon.<br>
            On September 13 1959 the Luna 2 launched by the USSR was the first spacecraft to impact the Moon’s surface. <br>
            On October 6 1959 the USSR were the first to get pictures of the Moon’s other side.<br>
            On July 20 1969 the Apollo 11 mission from the USA was the first mission to land humans on the Moon’s surface.
        </div>

        <div>
            <h3>What is a Lunar Eclipse</h3>
            A lunar eclipse happens when the Earth gets between the Moon and the Sun which casts a shadow on the Moon.
        </div>

        <div>
            <h3>Other Facts about THe Moon</h3>

        </div>

        <div>
            <h3>Refernces</h3>
            <a href=" https://gizmodo.com/how-the-moon-got-its-name-1696701328"> https://gizmodo.com/how-the-moon-got-its-name-1696701328</a>
            <a href="https://www.space.com/19275-moon-formation.html">https://www.space.com/19275-moon-formation.html</a>
            <a href=" https://www.space.com/18135-how-big-is-the-moon.html"> https://www.space.com/18135-how-big-is-the-moon.html</a>
            <a href="https://spaceplace.nasa.gov/moon-distance/en/">https://spaceplace.nasa.gov/moon-distance/en/</a>
            <a href="https://www.space.com/19582-moon-composition.html">https://www.space.com/19582-moon-composition.html</a>
            <a href="https://solarsystem.nasa.gov/moons/earths-moon/overview/">https://solarsystem.nasa.gov/moons/earths-moon/overview/</a>
            <a href="https://spaceplace.nasa.gov/eclipses/en/">https://spaceplace.nasa.gov/eclipses/en/</a>
        </div>

    </body>


