@{
    ViewBag.Title = "Our_Planets";
}

<div class="information-paragraphs dark-bkr">
    <h1>Planets in Our Solar System</h1>
    <div>
        <h2>Mercury</h2>
        <p>Closest to Sun: 29 million miles</p>
        <p>Furthest from Sun: 43 million miles</p>
        <p>Average distance from Sun: 36 million miles</p>
        <p>Radius in Miles: 1,516</p>
        <p>Day Length: 59 Earth days</p>
        <p>Year Length: 88 Earth Days</p>
        <p>Planet Type: Terrestrial</p>
        <p>Composition:</p>
        <p>
            Mercury is a terrestrial planet. It has a rocky mantle along with a solid crust.
            Scientists and researchers have found that the surface of Mercury is very much like Earth's moon.
            At Mercury's hottest, it can have a temperature of 800&#xb0;F and at its coldest, Mercury can drop to -290&#xb0;F.
            [<a href="#ref1">1</a>]
        </p>
        <p>Atmosphere:</p>
        <p>Mercury has almost no atmosphere, but it does have an exosphere made of oxygen, sodium, hydrogen, and potassium. [<a href="#ref1">1</a>]
<p>
            Fun Facts
            <ul>
                <li>Mercury is the fastest planet in the solar system</li>
                <li>Closest planet to the sun</li>
            </ul>
        </p>
        <p>History</p>
        <p>
            The name "Mercury" comes from the Ancient Romans after a Roman god. Mercury had wings
            on his helmet as well as on his shoes in order to move quickly from one place to another. [<a href="#ref1">1</a>]
        </p>
    </div>
    <div>
        <h2>Venus</h2>
        <p>Average distance from Sun: 67 million miles or 108 million km</p>
        <p>Radius in miles: 3760</p>
        <p>Radius in km: 6052</p>
        <p>Day Length: 243 Earth days</p>
        <p>Year Length: 225 Earth Days</p>
        <p>Planet Type: Terrestrial</p>
        <p>Composition:</p>
        <p>
            Venus is terrestrial planet. It has mountins and a thousands of volcanoes. Venus is considered a very birhgt planet
            because its clouds reflect so much sunlight. [<a href="#ref3">3</a>]
        </p>
        <p>Atmosphere:</p>
        <p>
            Venus has a very thick atmosphere made up of carbon dioxide and sulfuric acid. With a thick atmosphere that traps in a lot of heat,
            Venus is often very hot. It can reach up to temperatures of 880&#xb0;F [<a href="#ref3">3</a>]
        </p>
        <p>Unique Feature(s):</p>
        <p>
            <ul>
                <li>Maxwell Montes - a mountain that is approximately 20,000 feet high. The height of this mountain is very close to Earth's own Mt. Everest. [<a>href="#ref4">4</a>]</li> 
            </ul>
        </p>
        <p>
            Fun Facts
            <ul>
                <li>Venus' day is longer than its own year</li>
                <li>Hottest planet in our solar system</li>
                <li>Closest planet to Earth</li>
                <li>Features of Venus are named after Earth women</li>
            </ul>
        </p>
        <p>History</p>
        <p>
            The name "Venus" comes from the Ancient Romans after a Roman god. Venus is the Goddess of love and beauty.
            The Ancient Greeks refer Venus as Aphrodite. [<a href="#ref3">3</a>]
        </p>
    </div>
    <div>
        <h2>Earth</h2>
        <p>Average distance from Sun: 93 million miles or 150 million km</p>
        <p>Radius in miles: 3959</p>
        <p>Radius in km: 6371</p>
        <p>Day Length: 24 hours</p>
        <p>Year Length: 365 days</p>
        <p>Planet Type: Terrestrial</p>
        <p>Composition:</p>
        <p>
            Earth is a terrestrial planet. Inhabited with many different species, Earth's surface is a basic composition of water and land.
        </p>
        <p>Atmosphere:</p>
        <p>
            Earth's atmosphere is made up of mainly nitrogen and oxygen. The atmosphere shields us from radition. [<a href="#ref5">5</a>]
        </p>
        <p>Unique Feature(s):</p>
        <p>
            <ul>
                <li>Earth is the only planet, within our solar system, with liquid water</li>
            </ul>
        </p>
        <p>
            Fun Facts
            <ul>
                <li>Only planet, within our solar system, with a single moon</li>
            </ul>
        </p>
        <p>History</p>
        <p>
            The name "Earth" is roughly 1000 years old. Earth is a germanic word with the original meaning of "the ground." [<a href="#ref5">5</a>]
        </p>
    </div>
    <div>
        <h2>Mars</h2>
        <p>Average distance from Sun: 142 million miles or 228 million km</p>
        <p>Radius in miles: 2106</p>
        <p>Radius in km: 3390</p>
        <p>Day Length: 24.5 hours</p>
        <p>Year Length: 687 Earth Days</p>
        <p>Planet Type: Terrestrial</p>
        <p>Composition:</p>
        <p>
            Mars is terrestrial planet. It's core is dense, made up of iron, nickel and sulfur. As for the crust, the crust is made of iron, magnesium, aluminum, calcium, and potassium.
            Mars also has a lot of impact craters from meteors and asteroids. As a result of being a dusty planet, Mars
            has dust storms frequently. [<a href="#ref7">7</a>]
        </p>
        <p>Atmosphere:</p>
        <p>
            Mars has a very thin atmosphere made up of mainly carbon dioxide, nitrogen, and argon. Since it has such a thin atmosphere and can't trap its heat,
            Mars can reach high temperatures of 70&#xb0;F and low temperatures of -225&#xb0;F. [<a href="#ref7">7</a>]
        </p>
        <p>Unique Feature(s):</p>
        <p>
            <ul>
                <li>Mars has two moons: Phobos and Deimos</li>
                <li>Olympus Mons: largest volcano in the solar system</li>
                <li>Valles Marineris: the canyon of Mars</li>
            </ul>
        </p>
        <p>
            Fun Facts
            <ul>
                <li>6 spacecraft are currently orbiting Mars</li>
                <li>Olympus Mons is 3 times taller than Mt. Everest</li>
                <li>Valles Marineris is 10 times bigger than Earth's Grand Canyon</li>
            </ul>
        </p>
        <p>History</p>
        <p>
            The name "Mars" comes from the Ancient Romans after Mars, the god of war. In Ancient Egypt,
            Mars would be referred to as "Her Desher" or "the Red One." [<a href="#ref8">8</a>]
        </p>
    </div>
    <div>
        <h2>Jupiter</h2>
        <p>Average distance from Sun: 484 million miles or 778 million km</p>
        <p>Radius in miles: 43440.7 </p>
        <p>Radius in km: 69911</p>
        <p>Day Length: 10 hours</p>
        <p>Year Length: 12 Earth Years</p>
        <p>Planet Type: Gas Giant</p>
        <p>Composition:</p>
        <p>
            Jupiter is a Gas Giant. Scientists and researchers currently do not know the surface features of Jupiter. [<a href="#ref9">9</a>]
        </p>
        <p>Atmosphere:</p>
        <p>
            Jupiter's atmosphere is mainly made up of hydrogen and helium. [<a href="#ref10">10</a>]
        </p>
        <p>Unique Feature(s):</p>
        <p>
            <ul>
                <li>"The Red Spot": a giant storm on Jupiter that is bgger than Earth</li>
                <li>Jupiter has very distinct stripes</li>
                <li>There are at least 75 confirmed moons that orbit Jupiter. Some of the largest moons are Io, Europa, and Ganymede Calisto.</li>
            </ul>
        </p>
        <p>
            Fun Facts
            <ul>
                <li>Largest planet in our solar system</li>
                <li>Jupiter is more than twice the size of all our planets combined</li>
                <li>Jupiter also has rings but they are not as distinct as Saturn</li>
            </ul>
        </p>
        <p>History</p>
        <p>
            The name "Jupiter" comes from the Ancient Romans, which is the god of sky and thunder. [<a href="#ref9">9</a>]
        </p>
    </div>
    <div>
        <h2>Saturn</h2>
        <p>Average distance from Sun: 886 million miles or 1.4 billion km</p>
        <p>Radius in miles: 36183.7</p>
        <p>Day Length: 10.7 hours</p>
        <p>Year Length: 29 Earth Years</p>
        <p>Planet Type: Gas Giant</p>
        <p>Composition:</p>
        <p>
            Saturn is a Gas Giant that is made mostly of hydrogen and helium. Saturn has a dense core of metals like iron and nickel,
            but also is rocky. The surface of Saturn is extremely pressurized, but it is not solid. [<a href="#ref11">11</a>]
        </p>
        <p>Unique Feature(s):</p>
        <p>
            <ul>
                <li>53 confirmed moons, one of which being Titan</li>
                <li>Saturn's Rings: a very prominent feature of Saturn made up of ice, rock, dust, and pieces of comets and asteroids</li>
            </ul>
        </p>
        <p>
            Fun Facts
            <ul>
                <li>Two tons of Saturn's mass actually came from Earth [<a href="#ref11">11</a>]</li>
            </ul>
        </p>
        <p>History</p>
        <p>
            The name "Saturn" comes from Ancient Rome. Saturn is the roman god of welath and agriculture, who is also the father of Jupiter. [<a href="#ref11">11</a>]
        </p>
    </div>
    <div>
        <h2>Uranus</h2>
        <p>Average distance from Sun: 1.8 billion miles</p>
        <p>Radius in miles: 15759.2</p>
        <p>Radius in km: 25362</p>
        <p>Day Length: 17 hours 14 minutes</p>
        <p>Year Length: 84 Earth years</p>
        <p>Planet Type: Ice Giant</p>
        <p>Composition:</p>
        <p>
            Uranus is an Ice Giant. It is very cold with winds up to 560 miles per hour. Uranus has a surface that is made of hot and dense fluids such as water, methane, and ammonia.
            As for the core, it is rocky and small. Uranus gets its color from all the methane gas that is in the atmosphere and since almost almost all of the planet is fluid, there is no "real" surface.
            [<a href="#ref13">13</a>]
        </p>
        <p>Atmosphere:</p>
        <p>
            The atmosphere of Uranus ismade up of hydrogen, helium, some methane, and also some water. The atmosphere is cold and could drop to temperatures as low as
            -370&#xb0;F. [<a href="#ref13">13</a>]
        </p>
        <p>Unique Feature(s):</p>
        <p>
            <ul>
                <li>Uranus has 27 Moons</li>
                <li>13 rings orbit around Uranus</li>
                <li>The tilt of Uranus is 97.7 degrees. It is as if it is rotating on its side.</li>
            </ul>
        </p>
        <p>
            Fun Facts
            <ul>
                <li>The element uranium was named after Uranus</li>
            </ul>
        </p>
        <p>History</p>
        <p>
            The name "Uranus" comes from Ancient Greece, being named after the Greek god of the sky. [<a href="#ref14">14</a>]
        </p>
    </div>
    <div>
        <h2>Neptune</h2>
        <p>Average distance from Sun: 2.8 billion miles</p>
        <p>Radius in miles: 15299.4</p>
        <p>Radius in km: 24622</p>
        <p>Day Length: 16 hours</p>
        <p>Year Length: 165 Earth Days</p>
        <p>Planet Type: Ice Giant</p>
        <p>Composition:</p>
        <p>
            Neptune is the furthest Ice Giant from our Sun and just like Uranus, Neptune's surface
            is made up of hot fluids like water, methane and ammonia as well. With such a fluidity on the surface of Neptune,
            there is no possibility of a hard surface.
            [<a href="#ref15">15</a>]
        </p>
        <p>Atmosphere:</p>
        <p>
            Neptune's atmosphere is also similar it Uranus. Neptune's atmosphere contains mainly hydrogen and helium. [<a href="#ref16">16</a>]
        </p>
        <p>Unique Feature(s):</p>
        <p>
            <ul>
                <li>Neptune has 14 moons, with its largest moon being Triton</li>
                <li>There are 5 confirmed rings that orbit Neptune</li>
            </ul>
        </p>
        <p>
            Fun Facts
            <ul>
                <li>Sometimes Neptune is further from the Sun than Pluto</li>
                <li>Neptune is the windiest planet in our solar system with winds that exceed 1200 miles per hour</li>
                <li>Valles Marineris is 10 times bigger than Earth's Grand Canyon</li>
            </ul>
        </p>
        <p>History</p>
        <p>
            Neptune was named after the Ancient Roman god of the sea, Neptune. [<a href="#ref16">16</a>]
        </p>
    </div>
</div>
<div class="information-paragraphs dark-bkr">
    <h1>The Dwarf Planets</h1>
    <div>
        <h2>Ceres</h2>
        <p>Average distance from Sun: 413.7 million km</p>
        <p>Diameter: 950 km</p>
        <p>Year Length: 4.6 Earth Years</p>
        <p>Composition:</p>
        <p>
            Scientists and researchers have found that Ceres consists of ice, water and minerals.
            As for its temperature, Ceres has below freezing temperatures of -157&#xb0;F. [<a href="#ref3">17</a>]
        </p>
        <p>Unique Features</p>
        <p>
            <ul>
                <li>
                    Through images of taken from the Hubble telescope, Ceres appreas to have a mysterious white spot. [<a href="#ref17">17</a>]
                </li>
            </ul>
        </p>
        <p>Fun Facts:</p>
        <p>
            <ul>
                <li>
                    Ceres is the only dwarf planet in the inner solar system
                </li>
                <li>
                    Ceres is the only dwarf planet with no moons
                </li>
            </ul>
        </p>
        <p>History</p>
        <p>
            Ceres was discovered in 1801 by an Italian astronomer name Giuseppe Piazzi.
            With the recent advancement in rocket space technology, NASA has been conducting missions
            involving Ceres since 1012. [<a href="#ref17">17</a>]
        </p>
    </div>
    <div>
        <h2>Pluto</h2>
        <p>Average distance from Sun: 5.87 bllion km</p>
        <p>Diameter: 2372 km</p>
        <p>Year Length: 248 Earth years</p>
        <p>Composition:</p>
        <p>
            Scientists have found that Pluto is one-third water. Also, with a distance so far away from the Sun,
            Pluto has a surface temperature of -380.2&#xb0;F. [<a href="#ref18">18</a>]
        </p>
        <p>Unique Features</p>
        <p>
            <ul>
                Pluto's 5 Moons
                <li>Charon</li>
                <li>Hydra</li>
                <li>Nix</li>
                <li>Kerberos</li>
                <li>Styx</li>
            </ul>
        </p>
        <p>Fun Facts:</p>
        <p>
            <ul>
                <li>
                    Pluto was once, by planet definition, a planet, but has that title replaced with "Dwarf Planet" [<a href="#ref18">18</a>]
                </li>
            </ul>
        </p>
        <p>History</p>
        <p>
            Pluto was discovered by Clyde W Tombaugh from the Lowell Observatory in 1930.
            Pluto receieved its name after the Ancient Roman god, Pluto, who was the god of the underworld.
            Recently in 2015, the spacecraft, New Horizons, has visited Pluto.
            [<a href="#ref18">18</a>]
        </p>
    </div>
    <div>
        <h2>Haumea</h2>
        <p>Average distance from Sun: 6.45 billion km</p>
        <p>Diameter: 1960 - 1518 x 996 km</p>
        <p>Day Length: 3.9 Hours</p>
        <p>Year Length: 283.3 Earth Years</p>
        <p>Composition:</p>
        <p>
            Haumea has a surface temperature of -401.8&#xb0;F. [<a href="#ref19">19</a>]
        </p>
        <p>Unique Features</p>
        <p>
            <ul>
                <li>Scientists have found that a high concentration of minerals might be causing the dark red spot that they are observing. [<a href="#ref19">19</a>]</li>
                Haumea's 2 Moons
                <li>Hi'iaki</li>
                <li>Namaka</li>
            </ul>
        </p>
        <p>Fun Facts:</p>
        <p>
            <ul>
                <li>
                    Haumea is less of a sphere and more of an ellpsoid [<a href="#ref19">19</a>]
                </li>
            </ul>
        </p>
        <p>History</p>
        <p>
            Haumea was discovered in 2005 and there is currently a dispute on the group of scientists that have discovered the planet. [<a href="#ref19">19</a>]
        </p>
    </div>
    <div>
        <h2>Makemake</h2>
        <p>Average distance from Sun: 6.85 billion km</p>
        <p>Diameter: 1434 x 1422 km</p>
        <p>Year Length: 309.9 Earth years</p>
        <p>Composition:</p>
        <p>
            Makemake currently has a surface temperature of -398.2&#xb0;F. [<a href="#ref20">20</a>]
        </p>
        <p>Unique Features</p>
        <p>
            <ul>
                <li>Makemake has a single moon, MK2.</li>
            </ul>
        </p>
        <p>Fun Facts:</p>
        <p>
            <ul>
                <li>
                    Makemake was named about 3 years after it was discovered. [<a href="#ref20">20</a>]
                </li>
            </ul>
        </p>
        <p>History</p>
        <p>
            Discovered in 2005, makemake received its name after the a god of fertility from Rapa Nui. Makemake also is believed to be the creator of humanity. [<a href="#ref20">20</a>]

        </p>
    </div>
    <div>
        <h2>Eris</h2>
        <p>Average distance from Sun: 10.12 billion km</p>
        <p>Diameter: 2326 km</p>
        <p>Year Length: 560.9 Earth years</p>
        <p>Composition:</p>
        <p>
            Eris has a surface temperature of -383.3&#xb0;F. [<a href="#ref21">21</a>]
        </p>
        <p>Unique Features</p>
        <p>
            <ul>
                <li>Eris has a single moon named Dysnomia.</li>
            </ul>
        </p>
        <p>Fun Facts:</p>
        <p>
            <ul>
                <li>
                    Everything in the asteroid belt would fit inside of Eris [<a href="#ref21">21</a>]
                </li>
            </ul>
        </p>
        <p>History</p>
        <p>
            Eris was named after the Ancient Greek goddess of discord after being discovered in 2005. [<a href="#ref21">21</a>]
        </p>
    </div>
</div>

<div class="information-paragraphs dark-bkr">
    <h3>
        References
    </h3>
    <ol>
        <li><a id="ref1" href="https://solarsystem.nasa.gov/planets/mercury/overview/">https://solarsystem.nasa.gov/planets/mercury/overview/</a></li>
        <li><a id="ref2" href="https://www.nasa.gov/audience/forstudents/k-4/stories/nasa-knows/what-is-planet-mercury-k4.html">https://www.nasa.gov/audience/forstudents/k-4/stories/nasa-knows/what-is-planet-mercury-k4.html</a></li>
        <li><a id="ref3" href="https://solarsystem.nasa.gov/planets/venus/in-depth/">https://solarsystem.nasa.gov/planets/venus/in-depth/</a></li>
        <li><a id="ref4" href="https://solarsystem.nasa.gov/planets/venus/overview/">https://solarsystem.nasa.gov/planets/venus/overview/</a></li>
        <li><a id="ref5" href="https://solarsystem.nasa.gov/planets/earth/in-depth/">https://solarsystem.nasa.gov/planets/earth/in-depth/</a></li>
        <li><a id="ref6" href="https://solarsystem.nasa.gov/planets/earth/overview/">https://solarsystem.nasa.gov/planets/earth/overview/</a></li>
        <li><a id="ref7" href="https://solarsystem.nasa.gov/planets/mars/in-depth/">https://solarsystem.nasa.gov/planets/mars/in-depth/</a></li>
        <li><a id="ref8" href="https://solarsystem.nasa.gov/planets/mars/overview/">https://solarsystem.nasa.gov/planets/mars/overview/</a></li>
        <li><a id="ref9" href="https://solarsystem.nasa.gov/planets/jupiter/in-depth/">https://solarsystem.nasa.gov/planets/jupiter/in-depth/</a></li>
        <li><a id="ref10" href="https://solarsystem.nasa.gov/planets/jupiter/overview/">https://solarsystem.nasa.gov/planets/jupiter/overview/</a></li>
        <li><a id="ref11" href="https://solarsystem.nasa.gov/planets/saturn/in-depth/">https://solarsystem.nasa.gov/planets/saturn/in-depth/</a></li>
        <li><a id="ref12" href="https://solarsystem.nasa.gov/planets/saturn/overview/">https://solarsystem.nasa.gov/planets/saturn/overview/</a></li>
        <li><a id="ref13" href="https://solarsystem.nasa.gov/planets/uranus/in-depth/">https://solarsystem.nasa.gov/planets/uranus/in-depth/</a></li>
        <li><a id="ref14" href="https://solarsystem.nasa.gov/planets/uranus/overview/">https://solarsystem.nasa.gov/planets/uranus/overview/</a></li>
        <li><a id="ref15" href="https://solarsystem.nasa.gov/planets/neptune/in-depth/">https://solarsystem.nasa.gov/planets/neptune/in-depth/</a></li>
        <li><a id="ref16" href="https://solarsystem.nasa.gov/planets/neptune/overview/">https://solarsystem.nasa.gov/planets/neptune/overview/</a></li>
        <li><a id="ref17" href="https://space-facts.com/ceres/">https://space-facts.com/ceres/</a></li>
        <li><a id="ref18" href="https://space-facts.com/pluto/">https://space-facts.com/pluto/</a></li>
        <li><a id="ref19" href="https://space-facts.com/haumea/">https://space-facts.com/haumea/</a></li>
        <li><a id="ref20" href="https://space-facts.com/makemake/">https://space-facts.com/makemake/</a></li>
        <li><a id="ref21" href="https://space-facts.com/eris/">https://space-facts.com/eris/</a></li>


    </ol>
</div>
