
@{
    ViewBag.Title = "SpaceDebris_Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="color: white;">
        <br />
        <h2>Space Debris Information</h2>
        <p>
            <h2> What are the different forms of space debris in our solar system?</h2>

            <ul style="list-style-type: none;">
                <h4>Asteroids</h4>
                Asteroids are small, rocklike objects that orbit the sun like any other planet in the solar system. They are primarily found in the asteroid belt between
                Mars and Jupiter, although not exclusively, as they have been known to wander all over the solar system. Asteroids are the leftover debris from when our
                solar system was formed.
                [
                <a href="#ref1">1</a>]

                <h4>Comets</h4>
                Much like asteroids, comets also orbit around our sun, however rather than being made of rock, they are instead composed of ice. When a comet gets close to
                the sun, it gets heated up by the sun causing dust and gases to release from the comet. This expulsion of gas and dust is what creates the signature tail of
                the comet that can stretch on for millions of miles.
                [
                <a href="#ref2">2</a>]

                <h4>Meteoroids</h4>
                Meteoroids are chunks of rock and metallic debris that travel through space. Meteoroids tend to range in size from just grains of sand to small pebbles,
                typically, but they have known to be much larger as well. They travel around the sun in a variety of orbits and at varying speeds, with the fastest known
                speeds being around 26 miles per second.  Meteroids are known by many names, but what they technically depends on their current actions.
                [
                <a href="#ref3">3</a>]

                <ul style="list-style-type: none">
                    <h5>Meteors</h5>
                    When a meteoroid enters Earth's atmosphere it becomes known as a meteor, also commonly known as a shooting star or falling star. The orbital entry is
                    what causes the large trail of light behind the meteor. If a cluster of meteors arrive in close vicinity we call them a meteor shower.

                    <h5>Fireballs</h5>
                    A fireball is a relatively rare phenomenon that is a result of a meteoroid leaving behind a very bright trail of light behind itself. The cause of this is
                    usually meteroids that are larger and denser than usual. Fireballs can be so bright that they are occasionally even viewable in broad daylight, although
                    this occurence is not too common.

                    <h5>Meteorites</h5>
                    Rarely, a meteor large enough and dense enough will survive orbital entry and collide with Earth. It is far more common that a meteroid is burned to
                    nothingness while attempting to enter Earth's atmosphere but the occasionaly lucky meteroids touch down. We classify the fragment of the meteroid that
                    actually makes landfall as a meteorite, they are often highly sought after collectors items as well. <br />
                    [<a href="#ref4">4</a>]
                </ul>
            </ul>
        </p>

        <h2>Asteroids</h2>
        <ul style="list-style-type: none">
            <h4>Size</h4>
            The first ever discovered asteroid in 1801 was also the largest ever, Ceres, at 588 miles in diameter. However, in 2006, Ceres was re-classified to a dwarf planet. Nowadays, the 
            largest known asteroid, Vesta, resides in the asteroid belt between Mars and Jupiter and sizes in at 329 miles in diameter. The smallest asteroids tend to be have
            approximately a 33 foot diameter. Although many more asteroids are estimated to exist, the current known and confirmed count of around 934,000 asteroids, if you were
            to put them all together, they still would have less mass than Earth's Moon. 
            [<a href="#ref5">5</a>]
            
            <h4>Composition and Structure</h4>
            Asteroids come in three broad composition classes, C-type, M-type and S-type. The C-type or chondrite asteroids are among the most common type of asteroids. 
            They consist of clay and silicate rock and are often dark in appearance. Alongside the planets themselves, they are among some of the most ancient objects in
            the solar system. The M-type or metallic type are composed of nickel and iron. The compositional difference between M-types is a result of how far away from the
            Sun the asteroid was formed. The S-types fit right in the middle, formed from a mixture of nickel-iron and silicate.
            [<a href="#ref5">5</a>]

            <h4>Earth Impact and Near Impact Events</h4>
            <ul style="list-style-type: none">
                The last time an asteroid with a a diameter of 6 miles struck the earth it caused our most recent extinction level event, 66 million years ago. This was the event
                that lead to the downfall of dinosaurs and to the rise of mammals as we relatively know them today. 
                [<a href="#ref6">6</a>]<br /><br />

                The only notable asteroid impact of the last 3,000 years occured in approximately 1800 a.d. in Saudi Arabia. Known as the Wabar Craters, it was originally discovered
                in 1932, by Harry St John Philby. The site covers an area of about 500 by 1,000 meters in the Arabian desert. Modern mapping tools show that there are three very
                prominent and roughly circular craters. The sands near the crater have turned into black glass, containing approximately 90% Earth sands and 10% meteoric iron and
                nickel. It's been calculated that the asteroids total mass must have been in excess of 3,500 tonnes and had been travelling approximately 11-17 km / s upon impact.
                [<a href="#ref7">7</a>]<br /><br />

                One of the most well known near impacts occurred on June 30th, 1903 at the Tunguska River in Sibera (Now, Russia). An asteroid made near landfall but exploded in
                the air, 5 to 10 kilometers above in what's known as an 'airburst'. The explosion felled and uprooted trees for up to 2,000 kilometers away. Recent research estimates
                that the Tunguskan Asteroid may have been as large as a 5 story tall building. To show its importance, an annual 'Asteroid Day' is celebrated globally and is sanctioned
                by the United Nations, the date it occurs every year... June 30th... the Tunguska events anniversary.
                [<a href="#ref8">8</a>]<br /><br /> 

                In a much more recent case on February 15th, 2013 another airbust meteor occured in Chelyabinsk, Russia. This meteor, unlike the Tunguskan airbust, was near
                civilation and injured over 1,500 people, many due to shattered glass, the first asteroid to ever do so. The meteor is believed to be as large if not slightly larger than the Tunguskan meteor.
                The blast that occurred contained the explosive energy equivalent to around 30 or so WW2-era atomic bombs.
                [<a href="#ref9">9</a>]
            </ul>

            <h4>Unique features</h4>


            <h4>Origin of the name</h4>

        </ul>
  

        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <h2>References:</h2>
        <p>
            <ol>
                <li><a id="ref1" href="https://spaceplace.nasa.gov/asteroid/en/"> https://spaceplace.nasa.gov/asteroid/en/ </a></li>
                <li><a id="ref2" href="https://solarsystem.nasa.gov/asteroids-comets-and-meteors/comets/overview/"> https://solarsystem.nasa.gov/asteroids-comets-and-meteors/comets/overview/ </a></li>
                <li><a id="ref3" href="https://www.firstpeople.us/FP-Html-Legends/HowTheMilkyWayCameToBe-Cherokee.html"> https://www.firstpeople.us/FP-Html-Legends/HowTheMilkyWayCameToBe-Cherokee.html </a></li>
                <li><a id="ref4" href="https://i.pinimg.com/originals/69/49/ea/6949eaba58c8ea5fa5b78c2e5bfd43a4.gif"> https://i.pinimg.com/originals/69/49/ea/6949eaba58c8ea5fa5b78c2e5bfd43a4.gif </a></li>
                <li><a id="ref5" href="https://solarsystem.nasa.gov/asteroids-comets-and-meteors/asteroids/in-depth/ "> https://solarsystem.nasa.gov/asteroids-comets-and-meteors/asteroids/in-depth/ </a></li>
                <li><a id="ref6" href="https://www.psi.edu/epo/ktimpact/ktimpact.html "> https://www.psi.edu/epo/ktimpact/ktimpact.html </a></li>
                <li><a id="ref7" href="https://en.wikipedia.org/wiki/Wabar_craters"> https://en.wikipedia.org/wiki/Wabar_craters </a></li>
                <li><a id="ref8" href="https://earthsky.org/space/what-is-the-tunguska-explosion "> https://earthsky.org/space/what-is-the-tunguska-explosion </a></li>
                <li><a id="ref9" href="https://en.wikipedia.org/wiki/Chelyabinsk_meteor "> https://en.wikipedia.org/wiki/Chelyabinsk_meteor </a></li>

            </ol>
        </p>
    </div>

