
@{
    ViewBag.Title = "Sun_Information";
}

<head>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>




<div class="container information-paragraphs">
    <h2>Sun Information</h2>
    <div style="">
        <h3>Why is it called The Sun?</h3>
        The Sun is the name of the star that is in the center of our solar system. <br>
        Its name comes from the old english sonne which comes from the German word Sonne. [<a href="#ref1">1</a>]<br>
        Other names include the Greek Helios and the Latin Sol. [<a href="#ref1">1</a>]
    </div>
    <div>
        <h3>How was The Sun created?</h3>
        The Sun was formed about 4.5 billion years ago after gravity had compressed particles of gas and dust together under the force of gravity. [<a href="#ref2">2</a>]<br>
        The mass of particles eventually started to spin an flatten out creating a protostar. [<a href="#ref2">2</a>]<br>
        Eventually this formed into what we know as The Sun.
    </div>
    <div>
        <h3>How far away is The Sun?</h3>
        The Sun on average is 150 million kilometres (93 million miles) away from earth. [<a href="#ref3">3</a>]<br>
        This is equal to 1 astronomical unit or AU which is commonly used as a measurement of distance for objects in space. [<a href="#ref3">3</a>]
    </div>
    <div>
        <h3>How big is The Sun?</h3>
        The sun is about 864,938 miles (1.392 million km) wide. This is over 100 times bigger than the width of the earth. [<a href="#ref4">4</a>]<br>
        The total volume of the sun is 1.4 x 10^27cubic meters. This means that the sun could fit about 1.3 million Earths inside it. [<a href="#ref4">4</a>]<br>
        The mass of the sun is 1.989 x 10^30 kilograms which is about 333,000 times larger than Earth’s mass. [<a href="#ref4">4</a>]<br>
        The Sun on its own accounts for 99.86% of the total mass in the Solar System. [<a href="#ref5">5</a>]
    </div>
    <div>
        <h3>What makes up The Sun?</h3>
        The Sun is mostly composed of helium and hydrogen at temperatures up to 27 million degrees Fahrenheit (15 million degrees Celsius). [<a href="#ref6">6</a>]<br>
        The inner layers of the sun are the core, followed by the radiative zone, and the convection zone. [<a href="#ref7">7</a>]<br>
        The outer layers of the Sun start with the photosphere as the innermost layer followed by the chromosphere, transition region, and then the outermost corona. [<a href="#ref7">7</a>]
    </div>
    <div>
        <h3>What are Solar Winds and Solar Flares?</h3>
        The Sun produces solar winds which can reach speeds of up to 500 miles (800 kilometers) per second. <br>
        The material the winds carry large amounts of radiation towards the earth which would cause extreme damage, but the Earth is protected from this radiation due to the Earth's magnetosphere. [<a href="#ref8">8</a>]<br>
        Another thing the Sun can do is called a solar flare which is a burst of energy from the Sun’s surface. [<a href="#ref8">8</a>]<br>
        These can cause events on earth such as auroras but can also cause problems with radio communication and power outages. [<a href="#ref9">9</a>]
    </div>
    <div>
        <h3>What are Solar Eclipses?</h3>
        The Sun will also periodically have a solar eclipse which happens when the moon gets between the Earth and the Sun which casts a shadow on the Earth. [<a href="#ref10">10</a>]<br>
        Solar eclipses come in one of four forms being either total, annular, partial, and hybrid each having a different amount of the sun being blocked. [<a href="#ref10">10</a>]<br>
        It is important to remeber that even though some of the Sun is blocked does not mean that it is safe to look at it without protection. [<a href="#ref10">10</a>]
    </div>
    <div>
        <h3>Why is The Sun important?</h3>
        The Sun itself is very important to life on Earth as it is the way that Earth is warmed which would make life impossible without it.<br>
        It is also an important part for plants on earth that need the energy from the Sun for photosynthesis.<br>
        The gravity of the Sun also keeps our planet in our solar system without it we would go flying into who knows where.
    </div>
    <div>
        <h3>Other Facts</h3>
        For a long time up until the 16th century it was widely regarded that Earth was the center of the Solar System until the Polish astronomer Nicolai Copernicus wrote a model that described why the Sun must be the center of our Solar System. [<a href="#ref11">11</a>]<br>
        People used to tell times using an object called a sun dial which used the Sun's light to cast a shadow on the dial's face which would look similar to modern day clocks.<br>
        The Sun is also an important part of some religions including Egyptian, Indo-European, and Meso-American. [<a href="#ref12">12</a>]
    </div>
    <div>
        <h3>References</h3>
        <ol>
            <li><a id="ref1" href="https://www.dictionary.com/browse/sun ">https://www.dictionary.com/browse/sun </a></li>
            <li><a id="ref2" href="https://www.space.com/19321-sun-formation.html">https://www.space.com/19321-sun-formation.html</a></li>
            <li><a id="ref3" href="https://www.nasa.gov/audience/foreducators/k-4/features/F_Measuring_the_Distance_Student_Pages.html">https://www.nasa.gov/audience/foreducators/k-4/features/F_Measuring_the_Distance_Student_Pages.html</a></li>
            <li><a id="ref4" href="https://www.space.com/17001-how-big-is-the-sun-size-of-the-sun.html">https://www.space.com/17001-how-big-is-the-sun-size-of-the-sun.html</a></li>
            <li><a id="ref5" href="https://theplanets.org/the-sun/">https://theplanets.org/the-sun/</a></li>
            <li><a id="ref6" href="https://solarsystem.nasa.gov/solar-system/sun/in-depth/">https://solarsystem.nasa.gov/solar-system/sun/in-depth/</a></li>
            <li><a id="ref7" href="https://www.worldatlas.com/articles/layers-of-the-sun-important-and-unique-facts.html">https://www.worldatlas.com/articles/layers-of-the-sun-important-and-unique-facts.html</a></li>
            <li><a id="ref8" href="https://www.space.com/22215-solar-wind.html">https://www.space.com/22215-solar-wind.html</a> </li>
            <li><a id="ref9" href="https://spaceplace.nasa.gov/solar-activity/en/">https://spaceplace.nasa.gov/solar-activity/en/</a></li>
            <li><a id="ref10" href="https://www.space.com/15584-solar-eclipses.html">https://www.space.com/15584-solar-eclipses.html</a></li>
            <li><a id="ref11" href="https://www.pas.rochester.edu/~blackman/ast104/copernican9.html">https://www.pas.rochester.edu/~blackman/ast104/copernican9.html</a></li>
            <li><a id="ref12" href="https://www.britannica.com/topic/sun-worship">https://www.britannica.com/topic/sun-worship</a></li>
        </ol>
    </div>
</div>